In [78]:
#importing libriaries
import pandas as pd
import numpy as nm
print ('ready')

ready

In [83]:
#First we need to load list of UK North-East postcode districts
df_postcodesum=pd.read_csv("D:\\to use\\Postcode districts data_ne1.csv")
print('ready')

ready

In [82]:
df_postcodesum.head()

,Postcode district,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,Nearby districts
0,CA8,54.9396,-2.68830,356001,560765,NY560607,"Brampton, Gilsland, Greenhead, Slaggyford",Carlisle,684,608,10213.0,4536.0,"CA4, CA6, NE49, CA1, CA3, CA99, CA2, CA10, CA1..."
1,CA9,54.8014,-2.41759,373253,545249,NY732452,"Alston, Garrigill, Nenthead",Eden,201,177,2138.0,1016.0,"NE49, CA16, NE47, CA17, CA8, CA10, CA4, NE48, ..."
2,DH1,54.7826,-1.56261,428229,543165,NZ282431,Durham,County Durham,1966,1298,49987.0,18109.0,"DH97, DH99, DH3, DH7, DH2, DL17, DL16, DH6, DH..."
3,DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,"DH98, DH3, NE85, NE9, NE83, NE82, NE92, NE88, ..."
4,DH3,54.8701,-1.56931,427738,552899,NZ277528,"Chester-le-Street, Great Lumley, Birtley",County Durham,1079,765,25799.0,11465.0,"DH98, DH2, NE89, NE38, NE9, NE37, NE85, NE10, ..."

In [84]:
#Expolore how data looks
df_postcodesum.describe()

,Latitude,Longitude,Easting,Northing,Postcodes,Active postcodes,Population,Households
count,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,122.000000,122.000000
mean,54.888535,-1.583712,426869.766917,554986.323308,770.210526,583.721805,21697.844262,9449.729508
std,0.270400,0.299802,19320.663218,30031.619161,498.197737,367.163562,14036.842968,6070.449508
min,54.439000,-2.688300,356001.000000,504850.000000,3.000000,1.000000,417.000000,224.000000
25%,54.681000,-1.693970,419414.000000,531867.000000,362.000000,283.000000,10227.250000,4540.500000
50%,54.928700,-1.569310,427738.000000,559408.000000,726.000000,557.000000,19711.000000,8826.000000
75%,54.986200,-1.419950,437470.000000,565804.000000,1163.000000,854.000000,33330.000000,14351.250000
max,55.751000,-0.858563,473929.000000,650847.000000,2002.000000,1470.000000,53772.000000,23285.000000

In [85]:
df_postcodesum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Postcode district  133 non-null    object
 1   Latitude           133 non-null    float64
 2   Longitude          133 non-null    float64
 3   Easting            133 non-null    int64
 4   Northing           133 non-null    int64
 5   Grid Reference     133 non-null    object
 6   Town/Area          133 non-null    object
 7   Region             133 non-null    object
 8   Postcodes          133 non-null    int64
 9   Active postcodes   133 non-null    int64
 10  Population         122 non-null    float64
 11  Households         122 non-null    float64
 12  Nearby districts   133 non-null    object
dtypes: float64(4), int64(4), object(5)
memory usage: 13.6+ KB

Its hard to examinate all 133 districts so we should start reducing data set

Key factors which are taken in to account while reducing dataset
1. Distance to workoffice should be less than 15 miles. 
Work location is SR5 postcode, we will use csv data which shows distance between SR5 and each postcode in the list

In [92]:
df_distance=pd.read_csv("D:\\to use\miles.csv")
print('ready')

ready

In [93]:
df_distance.head()

,original,destination,miles,Avg asking price,Crime rate,population,Area Name,General_Area_name
0,SR5,CA8,44.383,201660,55,10213,"Brampton, Gilsland, Greenhead, Slaggyford",Other
1,SR5,CA9,40.512,176904,50,2132,"Alston, Garrigill, Nenthead",Other
2,SR5,DH1,9.562,223730,127,49938,Durham,Other
3,SR5,DH2,5.703,119902,97,30579,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
4,SR5,DH3,4.636,171267,139,25798,"Chester-le-Street, Great Lumley, Birtley",Other

In [97]:
df_distance.rename(columns={"destination":"Postcode disctrict"}, inplace=True)

In [98]:
df_distance.head()

,original,Postcode disctrict,miles,Avg asking price,Crime rate,population,Area Name,General_Area_name
0,SR5,CA8,44.383,201660,55,10213,"Brampton, Gilsland, Greenhead, Slaggyford",Other
1,SR5,CA9,40.512,176904,50,2132,"Alston, Garrigill, Nenthead",Other
2,SR5,DH1,9.562,223730,127,49938,Durham,Other
3,SR5,DH2,5.703,119902,97,30579,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
4,SR5,DH3,4.636,171267,139,25798,"Chester-le-Street, Great Lumley, Birtley",Other

In [104]:
#as we are going to merge 2 dataframes, we will remove population data and originafrom second df

df_distance.drop("original", axis=1, inplace=True)

In [105]:
df_distance.head()

,Postcode disctrict,miles,Avg asking price,Crime rate,Area Name,General_Area_name
0,CA8,44.383,201660,55,"Brampton, Gilsland, Greenhead, Slaggyford",Other
1,CA9,40.512,176904,50,"Alston, Garrigill, Nenthead",Other
2,DH1,9.562,223730,127,Durham,Other
3,DH2,5.703,119902,97,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
4,DH3,4.636,171267,139,"Chester-le-Street, Great Lumley, Birtley",Other

In [108]:
df_distance.rename(columns={"Postcode disctrict":"PCD"}, inplace=True)

In [109]:
df_distance.head()

,PCD,miles,Avg asking price,Crime rate,Area Name,General_Area_name
0,CA8,44.383,201660,55,"Brampton, Gilsland, Greenhead, Slaggyford",Other
1,CA9,40.512,176904,50,"Alston, Garrigill, Nenthead",Other
2,DH1,9.562,223730,127,Durham,Other
3,DH2,5.703,119902,97,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
4,DH3,4.636,171267,139,"Chester-le-Street, Great Lumley, Birtley",Other

In [113]:
df_postcodesum.rename(columns={"Postcode district":"PCD"}, inplace=True)

In [114]:
df_postcodesum.head()

,PCD,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,Nearby districts
0,CA8,54.9396,-2.68830,356001,560765,NY560607,"Brampton, Gilsland, Greenhead, Slaggyford",Carlisle,684,608,10213.0,4536.0,"CA4, CA6, NE49, CA1, CA3, CA99, CA2, CA10, CA1..."
1,CA9,54.8014,-2.41759,373253,545249,NY732452,"Alston, Garrigill, Nenthead",Eden,201,177,2138.0,1016.0,"NE49, CA16, NE47, CA17, CA8, CA10, CA4, NE48, ..."
2,DH1,54.7826,-1.56261,428229,543165,NZ282431,Durham,County Durham,1966,1298,49987.0,18109.0,"DH97, DH99, DH3, DH7, DH2, DL17, DL16, DH6, DH..."
3,DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,"DH98, DH3, NE85, NE9, NE83, NE82, NE92, NE88, ..."
4,DH3,54.8701,-1.56931,427738,552899,NZ277528,"Chester-le-Street, Great Lumley, Birtley",County Durham,1079,765,25799.0,11465.0,"DH98, DH2, NE89, NE38, NE9, NE37, NE85, NE10, ..."

In [115]:
df_combi = pd.merge(df_postcodesum, df_distance, left_on='PCD', right_on='PCD', how='left')

In [116]:
df_combi

,PCD,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,Nearby districts,miles,Avg asking price,Crime rate,Area Name,General_Area_name
0,CA8,54.9396,-2.68830,356001,560765,NY560607,"Brampton, Gilsland, Greenhead, Slaggyford",Carlisle,684,608,10213.0,4536.0,"CA4, CA6, NE49, CA1, CA3, CA99, CA2, CA10, CA1...",44.383,201660.0,55.0,"Brampton, Gilsland, Greenhead, Slaggyford",Other
1,CA9,54.8014,-2.41759,373253,545249,NY732452,"Alston, Garrigill, Nenthead",Eden,201,177,2138.0,1016.0,"NE49, CA16, NE47, CA17, CA8, CA10, CA4, NE48, ...",40.512,176904.0,50.0,"Alston, Garrigill, Nenthead",Other
2,DH1,54.7826,-1.56261,428229,543165,NZ282431,Durham,County Durham,1966,1298,49987.0,18109.0,"DH97, DH99, DH3, DH7, DH2, DL17, DL16, DH6, DH...",9.562,223730.0,127.0,Durham,Other
3,DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,"DH98, DH3, NE85, NE9, NE83, NE82, NE92, NE88, ...",5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
4,DH3,54.8701,-1.56931,427738,552899,NZ277528,"Chester-le-Street, Great Lumley, Birtley",County Durham,1079,765,25799.0,11465.0,"DH98, DH2, NE89, NE38, NE9, NE37, NE85, NE10, ...",4.636,171267.0,139.0,"Chester-le-Street, Great Lumley, Birtley",Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,TS25,54.6635,-1.22407,450149,530100,NZ501301,"Seaton Carew, Fens Estate, Owton Manor",Hartlepool,1229,1051,38618.0,17088.0,"TS26, TS24, TS2, TS1, TS4, TS90, TS23, TS27, T...",20.760,106241.0,168.0,"Seaton Carew, Fens Estate, Owton Manor",Other
129,TS26,54.6884,-1.23063,449695,532866,NZ496328,Hartlepool,Hartlepool,798,644,25279.0,10801.0,"TS24, TS25, TS27, TS2, TS1, TS90, TS4, TS23, T...",18.672,143430.0,154.0,Hartlepool,Other
130,TS27,54.7225,-1.28793,445963,536622,NZ459366,"Blackhall Rocks, Blackhall Colliery, Castle Ed...",Hartlepool,411,368,12193.0,5322.0,"SR88, TS28, TS26, SR8, TS24, TS23, TS25, TS22,...",16.172,128407.0,128.0,"Blackhall Rocks, Blackhall Colliery, Castle Ed...",Other
131,TS28,54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,"TS29, SR88, SR8, TS27, DH6, SR7, TS21, TS22, S...",13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
132,TS29,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,"TS28, DH6, TS21, SR88, SR8, TS27, DH5, DL17, S...",14.044,91527.0,96.0,Trimdon Station,Trimdon Station

In [139]:
df_combi['PCD'].unique()

array(['CA8', 'CA9', 'DH1', 'DH2', 'DH3', 'DH4', 'DH5', 'DH6', 'DH7',
       'DH8', 'DH9', 'DH97', 'DH98', 'DH99', 'DL1', 'DL2', 'DL3', 'DL4',
       'DL5', 'DL11', 'DL12', 'DL13', 'DL14', 'DL15', 'DL16', 'DL17',
       'DL98', 'NE1', 'NE2', 'NE3', 'NE4', 'NE5', 'NE6', 'NE7', 'NE8',
       'NE9', 'NE10', 'NE11', 'NE12', 'NE13', 'NE15', 'NE16', 'NE17',
       'NE18', 'NE19', 'NE20', 'NE21', 'NE22', 'NE23', 'NE24', 'NE25',
       'NE26', 'NE27', 'NE28', 'NE29', 'NE30', 'NE31', 'NE32', 'NE33',
       'NE34', 'NE35', 'NE36', 'NE37', 'NE38', 'NE39', 'NE40', 'NE41',
       'NE42', 'NE43', 'NE44', 'NE45', 'NE46', 'NE47', 'NE48', 'NE49',
       'NE61', 'NE62', 'NE63', 'NE64', 'NE65', 'NE66', 'NE67', 'NE68',
       'NE69', 'NE70', 'NE71', 'NE82', 'NE83', 'NE85', 'NE88', 'NE92',
       'NE98', 'NE99', 'SR1', 'SR2', 'SR3', 'SR4', 'SR5', 'SR6', 'SR7',
       'SR8', 'TD5', 'TD12', 'TD15', 'TS1', 'TS2', 'TS3', 'TS4', 'TS5',
       'TS6', 'TS7', 'TS8', 'TS9', 'TS10', 'TS11', 'TS12', 'TS13', 'TS14',
       'TS15', 'TS16', 'TS17', 'TS18', 'TS19', 'TS20', 'TS21', 'TS22',
       'TS23', 'TS24', 'TS25', 'TS26', 'TS27', 'TS28', 'TS29'],
      dtype=object)

In [143]:
#Now we will use miles parametre to reduce data, we are looking locations less than 15 miles from work office
df_close_location = df_combi[~(df_combi['miles']>=15)]

In [144]:
df_close_location

,PCD,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,Nearby districts,miles,Avg asking price,Crime rate,Area Name,General_Area_name
2,DH1,54.7826,-1.56261,428229,543165,NZ282431,Durham,County Durham,1966,1298,49987.0,18109.0,"DH97, DH99, DH3, DH7, DH2, DL17, DL16, DH6, DH...",9.562,223730.0,127.0,Durham,Other
3,DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,"DH98, DH3, NE85, NE9, NE83, NE82, NE92, NE88, ...",5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
4,DH3,54.8701,-1.56931,427738,552899,NZ277528,"Chester-le-Street, Great Lumley, Birtley",County Durham,1079,765,25799.0,11465.0,"DH98, DH2, NE89, NE38, NE9, NE37, NE85, NE10, ...",4.636,171267.0,139.0,"Chester-le-Street, Great Lumley, Birtley",Other
5,DH4,54.8529,-1.49028,432824,551019,NZ328510,Houghton-le-Spring,Sunderland,1142,901,33367.0,14223.0,"DH5, NE38, NE89, DH3, NE37, SR3, SR4, DH2, SR4...",5.317,145719.0,114.0,Houghton-le-Spring,HOUGHTON LE SPRING
6,DH5,54.8246,-1.45587,435058,547886,NZ350478,"Houghton-le-Spring, Hetton-le-Hole",Sunderland,645,525,19570.0,8681.0,"DH4, DH6, SR3, SR7, SR4, SR43, SR5, DH99, SR9,...",7.373,123465.0,149.0,"Houghton-le-Spring, Hetton-le-Hole",HOUGHTON LE SPRING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,TD12,55.6532,-2.24223,384856,639989,NT848399,"Cornhill-on-Tweed, Coldstream, Mindrum",Scottish Borders,268,235,4215.0,1984.0,"TD11, TD5, TD10, NE71, TD15, TD14, TD3, TD13, ...",NaN,NaN,NaN,NaN,NaN
103,TD15,55.7510,-2.01310,399276,650847,NT992508,Berwick-upon-Tweed,Northumberland,718,557,18083.0,8172.0,"TD14, NE71, TD12, TD11, NE70, NE69, TD10, NE68...",NaN,NaN,NaN,NaN,NaN
105,TS2,54.5835,-1.23727,449394,521189,NZ493211,"Middlehaven, Port Clarence",Middlesbrough,294,117,820.0,352.0,"TS1, TS90, TS4, TS5, TS3, TS8, TS23, TS20, TS2...",NaN,NaN,NaN,NaN,NaN
131,TS28,54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,"TS29, SR88, SR8, TS27, DH6, SR7, TS21, TS22, S...",13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
132,TS29,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,"TS28, DH6, TS21, SR88, SR8, TS27, DH5, DL17, S...",14.044,91527.0,96.0,Trimdon Station,Trimdon Station

In [147]:
df_close_location['PCD'].unique()

array(['DH1', 'DH2', 'DH3', 'DH4', 'DH5', 'DH6', 'DH7', 'DH9', 'DH97',
       'DH98', 'DH99', 'DL98', 'NE1', 'NE2', 'NE3', 'NE4', 'NE5', 'NE6',
       'NE7', 'NE8', 'NE9', 'NE10', 'NE11', 'NE12', 'NE13', 'NE15',
       'NE16', 'NE17', 'NE18', 'NE20', 'NE21', 'NE23', 'NE24', 'NE25',
       'NE26', 'NE27', 'NE28', 'NE29', 'NE30', 'NE31', 'NE32', 'NE33',
       'NE34', 'NE35', 'NE36', 'NE37', 'NE38', 'NE39', 'NE40', 'NE41',
       'NE44', 'NE67', 'NE69', 'NE82', 'NE83', 'NE85', 'NE88', 'NE92',
       'NE98', 'NE99', 'SR1', 'SR2', 'SR3', 'SR4', 'SR5', 'SR6', 'SR7',
       'SR8', 'TD5', 'TD12', 'TD15', 'TS2', 'TS28', 'TS29'], dtype=object)

In [153]:
df_close_location['PCD'].nunique()

74

In [154]:
df_close_location1=df_close_location.dropna()

In [155]:
df_close_location1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 2 to 132
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PCD                54 non-null     object
 1   Latitude           54 non-null     float64
 2   Longitude          54 non-null     float64
 3   Easting            54 non-null     int64
 4   Northing           54 non-null     int64
 5   Grid Reference     54 non-null     object
 6   Town/Area          54 non-null     object
 7   Region             54 non-null     object
 8   Postcodes          54 non-null     int64
 9   Active postcodes   54 non-null     int64
 10  Population         54 non-null     float64
 11  Households         54 non-null     float64
 12  Nearby districts   54 non-null     object
 13  miles              54 non-null     float64
 14  Avg asking price   54 non-null     float64
 15  Crime rate         54 non-null     float64
 16  Area Name          54 non-null     object
 17  General_Area_name  54 non-null     object
dtypes: float64(7), int64(4), object(7)
memory usage: 8.0+ KB

In [156]:
#Now we will use maximum price parametre to reduce data, we are looking for houses less than 150k. 
df_actual_price = df_close_location1[~(df_close_location1['Avg asking price']>=150000)]

In [157]:
df_actual_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 3 to 132
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PCD                33 non-null     object
 1   Latitude           33 non-null     float64
 2   Longitude          33 non-null     float64
 3   Easting            33 non-null     int64
 4   Northing           33 non-null     int64
 5   Grid Reference     33 non-null     object
 6   Town/Area          33 non-null     object
 7   Region             33 non-null     object
 8   Postcodes          33 non-null     int64
 9   Active postcodes   33 non-null     int64
 10  Population         33 non-null     float64
 11  Households         33 non-null     float64
 12  Nearby districts   33 non-null     object
 13  miles              33 non-null     float64
 14  Avg asking price   33 non-null     float64
 15  Crime rate         33 non-null     float64
 16  Area Name          33 non-null     object
 17  General_Area_name  33 non-null     object
dtypes: float64(7), int64(4), object(7)
memory usage: 4.9+ KB

So now we narrowed our search for 33 postcode districts

3rd factor which we need to examinate if crime rates in these areas are fairly common or there are areas with much higher rates.

In [158]:
df_actual_price.describe()

,Latitude,Longitude,Easting,Northing,Postcodes,Active postcodes,Population,Households,miles,Avg asking price,Crime rate
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,54.908148,-1.518180,430995.484848,557160.636364,974.090909,744.939394,29247.181818,12940.575758,7.322121,117322.666667,164.454545
std,0.090276,0.120639,7758.941157,10028.893171,386.518706,307.873953,13111.054702,5831.251083,3.745897,20053.057148,128.733273
min,54.711200,-1.818850,411711.000000,535286.000000,157.000000,131.000000,4890.000000,2255.000000,1.869000,63903.000000,92.000000
25%,54.859900,-1.598290,425885.000000,551753.000000,726.000000,533.000000,20159.000000,9019.000000,4.289000,104299.000000,117.000000
50%,54.921700,-1.490280,432824.000000,558709.000000,1052.000000,831.000000,33367.000000,14394.000000,5.972000,120457.000000,135.000000
75%,54.971700,-1.423210,437020.000000,564228.000000,1236.000000,972.000000,37590.000000,16533.000000,9.818000,130257.000000,169.000000
max,55.122800,-1.336570,442784.000000,581039.000000,1547.000000,1245.000000,52220.000000,23285.000000,14.417000,145719.000000,854.000000

We can see that max rate is 854 which is far away from mean , and 75% of data. So will sort dataframe to see the values and eliminate related postcode areas from further study

In [159]:
df_actual_price=df_actual_price.sort_values(by = 'Crime rate')

In [168]:
df_actual_price

,PCD,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,Nearby districts,miles,Avg asking price,Crime rate,Area Name,General_Area_name
8,DH7,54.7895,-1.66153,421863,543897,NZ218438,"Brandon, Lanchester, Esh Winning, Burnhope, La...",County Durham,1443,1245,41076.0,18549.0,"DH1, DH97, DH99, DH9, DH2, DL15, DL16, DL14, D...",11.482,137820.0,92.0,"Brandon, Lanchester, Esh Winning, Burnhope, La...",DURHAM
132,TS29,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,"TS28, DH6, TS21, SR88, SR8, TS27, DH5, DL17, S...",14.044,91527.0,96.0,Trimdon Station,Trimdon Station
3,DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,"DH98, DH3, NE85, NE9, NE83, NE82, NE92, NE88, ...",5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
95,SR3,54.8779,-1.41645,437541,553838,NZ375538,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",Sunderland,1086,868,38726.0,16980.0,"SR4, SR43, SR9, SR2, SR5, SR1, SR6, DH5, NE36,...",3.945,142491.0,98.0,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",SUNDERLAND
42,NE17,54.9158,-1.81885,411711,557914,NZ117579,"Chopwell, Western Chopwell Wood",Gateshead,197,166,4890.0,2255.0,"NE41, NE39, DH8, NE42, NE40, NE43, NE21, NE16,...",13.842,106425.0,111.0,"Chopwell, Western Chopwell Wood",Newcastle upon Tyne
46,NE21,54.9588,-1.71977,418043,562720,NZ180627,"Blaydon, Winlaton",Gateshead,726,536,17260.0,7565.0,"NE15, NE16, NE40, NE5, NE39, NE4, DH9, NE11, N...",10.301,141821.0,111.0,"Blaydon, Winlaton",Blaydon-on-Tyne
5,DH4,54.8529,-1.49028,432824,551019,NZ328510,Houghton-le-Spring,Sunderland,1142,901,33367.0,14223.0,"DH5, NE38, NE89, DH3, NE37, SR3, SR4, DH2, SR4...",5.317,145719.0,114.0,Houghton-le-Spring,HOUGHTON LE SPRING
59,NE34,54.9728,-1.42321,437020,564395,NZ370643,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Tyneside,1204,1055,52220.0,23285.0,"NE33, NE36, SR5, NE35, NE32, SR43, NE30, SR4, ...",4.154,129049.0,114.0,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Shields
56,NE31,54.9717,-1.51259,431300,564228,NZ312642,Hebburn,South Tyneside,627,494,20159.0,9019.0,"NE32, NE28, NE27, NE6, NE10, NE35, NE37, NE29,...",4.256,126896.0,117.0,Hebburn,Hebburn
36,NE10,54.9484,-1.55697,428475,561617,NZ284616,"Felling, Leam Lane, Pelaw",Gateshead,912,738,36136.0,16295.0,"NE6, NE9, NE8, NE88, NE85, NE92, NE37, NE82, N...",4.910,109547.0,120.0,"Felling, Leam Lane, Pelaw",Gateshead
35,NE9,54.9316,-1.58767,426520,559735,NZ265597,"Low Fell, Springwell",Gateshead,1025,833,37590.0,16533.0,"NE85, NE83, NE82, NE92, NE88, NE8, DH98, NE10,...",5.568,141775.0,124.0,"Low Fell, Springwell",Gateshead
57,NE32,54.9697,-1.48439,433107,564019,NZ331640,"Jarrow, Fellgate, South Tyne Tunnel",South Tyneside,878,694,25359.0,11292.0,"NE31, NE35, NE29, NE36, NE34, NE28, NE33, NE25...",4.289,130344.0,127.0,"Jarrow, Fellgate, South Tyne Tunnel",Jarrow
40,NE15,54.9832,-1.71906,418077,565436,NZ180654,"Lemington, Throckley, Newburn",Newcastle,1128,854,32569.0,14195.0,"NE21, NE5, NE40, NE16, NE4, NE39, NE41, NE3, N...",13.965,145176.0,128.0,"Lemington, Throckley, Newburn",Newcastle upon Tyne
99,SR7,54.8309,-1.36058,441174,548639,NZ411486,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",County Durham,1005,844,31185.0,13571.0,"SR2, SR8, SR1, SR88, DH5, SR3, TS28, SR6, SR9,...",7.330,109913.0,129.0,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",Seaham
7,DH6,54.7535,-1.46490,434538,539970,NZ345399,"Thornley, Coxhoe",County Durham,1163,1022,33466.0,14770.0,"DH5, TS29, TS28, DH99, DH97, DH4, DH1, SR88, S...",9.578,111890.0,132.0,"Thornley, Coxhoe",DURHAM
131,TS28,54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,"TS29, SR88, SR8, TS27, DH6, SR7, TS21, TS22, S...",13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
62,NE37,54.9114,-1.52838,430334,557511,NZ303575,"Usworth, Sulgrave, Albany",Sunderland,739,533,21034.0,9025.0,"NE89, NE38, NE10, NE31, NE9, DH3, DH98, NE85, ...",2.771,110676.0,135.0,"Usworth, Sulgrave, Albany",WASHINGTON
10,DH9,54.8678,-1.71096,418649,552596,NZ186525,"Dipton, Stanley",County Durham,1410,1197,36733.0,16480.0,"NE16, NE21, NE39, DH2, NE15, DH7, DH8, DH98, D...",9.818,89707.0,138.0,"Dipton, Stanley",STANLEY
96,SR4,54.9016,-1.42472,436989,556471,NZ369564,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",Sunderland,1201,951,41794.0,17625.0,"SR43, SR5, SR9, SR3, SR1, SR2, NE36, NE34, SR6...",1.869,100891.0,142.0,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",SUNDERLAND
97,SR5,54.9217,-1.42208,437140,558709,NZ371587,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",Sunderland,1429,1015,34639.0,15310.0,"SR43, SR4, SR9, NE36, SR3, NE34, SR6, SR1, NE3...",3.375,95073.0,143.0,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",SUNDERLAND
6,DH5,54.8246,-1.45587,435058,547886,NZ350478,"Houghton-le-Spring, Hetton-le-Hole",Sunderland,645,525,19570.0,8681.0,"DH4, DH6, SR3, SR7, SR4, SR43, SR5, DH99, SR9,...",7.373,123465.0,149.0,"Houghton-le-Spring, Hetton-le-Hole",HOUGHTON LE SPRING
60,NE35,54.9529,-1.46282,434502,562160,NZ345621,Boldon Colliery,South Tyneside,157,131,6371.0,2773.0,"NE36, NE32, NE34, NE29, NE31, NE33, SR5, SR43,...",4.286,144870.0,152.0,Boldon Colliery,Boldon Colliery
94,SR2,54.8886,-1.37865,439956,555049,NZ399550,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",Sunderland,1050,831,33443.0,14641.0,"SR1, SR6, SR3, SR9, SR4, SR43, SR7, SR5, NE36,...",5.084,120457.0,158.0,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",SUNDERLAND
37,NE11,54.9401,-1.63176,423690,560666,NZ236606,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead,709,480,16457.0,7162.0,"NE82, NE92, NE83, NE88, NE8, NE85, NE4, NE99, ...",6.768,130257.0,163.0,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead
54,NE29,55.0117,-1.46933,434035,568700,NZ340686,"North Shields, Royal Quays, Billy Mill, New York",North Tyneside,1332,936,35988.0,16899.0,"NE30, NE26, NE25, NE32, NE33, NE28, NE27, NE35...",6.291,125204.0,169.0,"North Shields, Royal Quays, Billy Mill, New York",North Shields
53,NE28,55.0007,-1.51887,430876,567453,NZ308674,"Battle Hill, Willington, Wallsend, North Tyne ...",North Tyneside,1358,1015,44661.0,20493.0,"NE31, NE27, NE29, NE7, NE32, NE6, NE12, NE25, ...",5.438,104217.0,177.0,"Battle Hill, Willington, Wallsend, North Tyne ...",Wallsend
49,NE24,55.1228,-1.52140,430621,581039,NZ306810,"Blyth, Newsham",Northumberland,1326,1076,37946.0,16681.0,"NE64, NE22, NE63, NE27, NE23, NE25, NE62, NE28...",14.417,125731.0,180.0,"Blyth, Newsham",BLYTH
30,NE4,54.9728,-1.64380,422900,564300,NZ228643,"Fenham, West Gate, Wingrove",Newcastle,1052,788,37949.0,14394.0,"NE1, NE99, NE11, NE3, NE98, NE2, NE8, NE88, NE...",7.856,121937.0,187.0,"Fenham, West Gate, Wingrove",Newcastle upon Tyne
32,NE6,54.9772,-1.56735,427790,564818,NZ277648,"Walker, Byker, Heaton",Newcastle,1547,1049,50914.0,22975.0,"NE7, NE98, NE10, NE2, NE1, NE12, NE99, NE8, NE...",5.972,124306.0,190.0,"Walker, Byker, Heaton",Newcastle upon Tyne
100,SR8,54.7666,-1.33657,442784,541498,NZ427414,"Easington, Easington Colliery, Horden, Little ...",County Durham,1236,972,35443.0,15373.0,"SR88, TS28, SR7, TS27, TS29, DH6, TS22, SR2, D...",12.405,82399.0,194.0,"Easington, Easington Colliery, Horden, Little ...",Peterlee
58,NE33,54.9920,-1.43125,436488,566527,NZ364665,"South Shields Town Centre, Deans, High Shields",South Tyneside,1214,771,27376.0,13420.0,"NE34, NE30, NE36, NE29, NE35, NE32, SR5, NE26,...",5.438,94278.0,219.0,"South Shields Town Centre, Deans, High Shields",South Shields
34,NE8,54.9563,-1.60503,425392,562477,NZ253624,"Gateshead, Bensham",Gateshead,1272,728,33219.0,15447.0,"NE88, NE99, NE1, NE92, NE98, NE82, NE2, NE83, ...",6.172,104299.0,234.0,"Gateshead, Bensham",Gateshead
93,SR1,54.9068,-1.38162,439747,557073,NZ397570,"Sunderland City Centre, East End, Hendon",Sunderland,673,283,5336.0,2595.0,"SR2, SR6, SR9, SR43, SR4, SR5, SR3, SR7, NE36,...",3.738,63903.0,854.0,"Sunderland City Centre, East End, Hendon",SUNDERLAND

So we see that several post codes areas has much higher crime rate than others, particulary
SR1 = 854
So we will remove this postcode area from further study.
ALso lets remove Nearby district t=from dataset

In [170]:
df_actual_price.drop("Nearby districts", axis=1, inplace=True)

In [171]:
df_actual_price

,PCD,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,miles,Avg asking price,Crime rate,Area Name,General_Area_name
8,DH7,54.7895,-1.66153,421863,543897,NZ218438,"Brandon, Lanchester, Esh Winning, Burnhope, La...",County Durham,1443,1245,41076.0,18549.0,11.482,137820.0,92.0,"Brandon, Lanchester, Esh Winning, Burnhope, La...",DURHAM
132,TS29,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,14.044,91527.0,96.0,Trimdon Station,Trimdon Station
3,DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
95,SR3,54.8779,-1.41645,437541,553838,NZ375538,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",Sunderland,1086,868,38726.0,16980.0,3.945,142491.0,98.0,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",SUNDERLAND
42,NE17,54.9158,-1.81885,411711,557914,NZ117579,"Chopwell, Western Chopwell Wood",Gateshead,197,166,4890.0,2255.0,13.842,106425.0,111.0,"Chopwell, Western Chopwell Wood",Newcastle upon Tyne
46,NE21,54.9588,-1.71977,418043,562720,NZ180627,"Blaydon, Winlaton",Gateshead,726,536,17260.0,7565.0,10.301,141821.0,111.0,"Blaydon, Winlaton",Blaydon-on-Tyne
5,DH4,54.8529,-1.49028,432824,551019,NZ328510,Houghton-le-Spring,Sunderland,1142,901,33367.0,14223.0,5.317,145719.0,114.0,Houghton-le-Spring,HOUGHTON LE SPRING
59,NE34,54.9728,-1.42321,437020,564395,NZ370643,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Tyneside,1204,1055,52220.0,23285.0,4.154,129049.0,114.0,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Shields
56,NE31,54.9717,-1.51259,431300,564228,NZ312642,Hebburn,South Tyneside,627,494,20159.0,9019.0,4.256,126896.0,117.0,Hebburn,Hebburn
36,NE10,54.9484,-1.55697,428475,561617,NZ284616,"Felling, Leam Lane, Pelaw",Gateshead,912,738,36136.0,16295.0,4.910,109547.0,120.0,"Felling, Leam Lane, Pelaw",Gateshead
35,NE9,54.9316,-1.58767,426520,559735,NZ265597,"Low Fell, Springwell",Gateshead,1025,833,37590.0,16533.0,5.568,141775.0,124.0,"Low Fell, Springwell",Gateshead
57,NE32,54.9697,-1.48439,433107,564019,NZ331640,"Jarrow, Fellgate, South Tyne Tunnel",South Tyneside,878,694,25359.0,11292.0,4.289,130344.0,127.0,"Jarrow, Fellgate, South Tyne Tunnel",Jarrow
40,NE15,54.9832,-1.71906,418077,565436,NZ180654,"Lemington, Throckley, Newburn",Newcastle,1128,854,32569.0,14195.0,13.965,145176.0,128.0,"Lemington, Throckley, Newburn",Newcastle upon Tyne
99,SR7,54.8309,-1.36058,441174,548639,NZ411486,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",County Durham,1005,844,31185.0,13571.0,7.330,109913.0,129.0,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",Seaham
7,DH6,54.7535,-1.46490,434538,539970,NZ345399,"Thornley, Coxhoe",County Durham,1163,1022,33466.0,14770.0,9.578,111890.0,132.0,"Thornley, Coxhoe",DURHAM
131,TS28,54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
62,NE37,54.9114,-1.52838,430334,557511,NZ303575,"Usworth, Sulgrave, Albany",Sunderland,739,533,21034.0,9025.0,2.771,110676.0,135.0,"Usworth, Sulgrave, Albany",WASHINGTON
10,DH9,54.8678,-1.71096,418649,552596,NZ186525,"Dipton, Stanley",County Durham,1410,1197,36733.0,16480.0,9.818,89707.0,138.0,"Dipton, Stanley",STANLEY
96,SR4,54.9016,-1.42472,436989,556471,NZ369564,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",Sunderland,1201,951,41794.0,17625.0,1.869,100891.0,142.0,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",SUNDERLAND
97,SR5,54.9217,-1.42208,437140,558709,NZ371587,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",Sunderland,1429,1015,34639.0,15310.0,3.375,95073.0,143.0,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",SUNDERLAND
6,DH5,54.8246,-1.45587,435058,547886,NZ350478,"Houghton-le-Spring, Hetton-le-Hole",Sunderland,645,525,19570.0,8681.0,7.373,123465.0,149.0,"Houghton-le-Spring, Hetton-le-Hole",HOUGHTON LE SPRING
60,NE35,54.9529,-1.46282,434502,562160,NZ345621,Boldon Colliery,South Tyneside,157,131,6371.0,2773.0,4.286,144870.0,152.0,Boldon Colliery,Boldon Colliery
94,SR2,54.8886,-1.37865,439956,555049,NZ399550,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",Sunderland,1050,831,33443.0,14641.0,5.084,120457.0,158.0,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",SUNDERLAND
37,NE11,54.9401,-1.63176,423690,560666,NZ236606,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead,709,480,16457.0,7162.0,6.768,130257.0,163.0,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead
54,NE29,55.0117,-1.46933,434035,568700,NZ340686,"North Shields, Royal Quays, Billy Mill, New York",North Tyneside,1332,936,35988.0,16899.0,6.291,125204.0,169.0,"North Shields, Royal Quays, Billy Mill, New York",North Shields
53,NE28,55.0007,-1.51887,430876,567453,NZ308674,"Battle Hill, Willington, Wallsend, North Tyne ...",North Tyneside,1358,1015,44661.0,20493.0,5.438,104217.0,177.0,"Battle Hill, Willington, Wallsend, North Tyne ...",Wallsend
49,NE24,55.1228,-1.52140,430621,581039,NZ306810,"Blyth, Newsham",Northumberland,1326,1076,37946.0,16681.0,14.417,125731.0,180.0,"Blyth, Newsham",BLYTH
30,NE4,54.9728,-1.64380,422900,564300,NZ228643,"Fenham, West Gate, Wingrove",Newcastle,1052,788,37949.0,14394.0,7.856,121937.0,187.0,"Fenham, West Gate, Wingrove",Newcastle upon Tyne
32,NE6,54.9772,-1.56735,427790,564818,NZ277648,"Walker, Byker, Heaton",Newcastle,1547,1049,50914.0,22975.0,5.972,124306.0,190.0,"Walker, Byker, Heaton",Newcastle upon Tyne
100,SR8,54.7666,-1.33657,442784,541498,NZ427414,"Easington, Easington Colliery, Horden, Little ...",County Durham,1236,972,35443.0,15373.0,12.405,82399.0,194.0,"Easington, Easington Colliery, Horden, Little ...",Peterlee
58,NE33,54.9920,-1.43125,436488,566527,NZ364665,"South Shields Town Centre, Deans, High Shields",South Tyneside,1214,771,27376.0,13420.0,5.438,94278.0,219.0,"South Shields Town Centre, Deans, High Shields",South Shields
34,NE8,54.9563,-1.60503,425392,562477,NZ253624,"Gateshead, Bensham",Gateshead,1272,728,33219.0,15447.0,6.172,104299.0,234.0,"Gateshead, Bensham",Gateshead
93,SR1,54.9068,-1.38162,439747,557073,NZ397570,"Sunderland City Centre, East End, Hendon",Sunderland,673,283,5336.0,2595.0,3.738,63903.0,854.0,"Sunderland City Centre, East End, Hendon",SUNDERLAND

In [183]:
df_actual_price.describe()

,Latitude,Longitude,Easting,Northing,Postcodes,Active postcodes,Population,Households,miles,Avg asking price,Crime rate
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,54.908191,-1.522447,430722.000000,557163.375000,983.500000,759.375000,29994.406250,13263.875000,7.434125,118992.031250,142.906250
std,0.091720,0.120012,7719.800574,10189.353114,388.844691,301.239777,12586.706425,5616.036944,3.749273,17893.200677,35.912402
min,54.711200,-1.818850,411711.000000,535286.000000,157.000000,131.000000,4890.000000,2255.000000,1.869000,82399.000000,92.000000
25%,54.858150,-1.599975,425761.750000,551569.500000,735.750000,535.250000,20815.250000,9023.500000,4.754750,105893.500000,116.250000
50%,54.926650,-1.501435,432062.000000,559222.000000,1069.000000,832.000000,33405.000000,14517.500000,6.072000,121197.000000,134.000000
75%,54.971975,-1.424343,436996.750000,564246.000000,1245.000000,982.750000,37679.000000,16570.000000,9.938750,130278.750000,164.500000
max,55.122800,-1.336570,442784.000000,581039.000000,1547.000000,1245.000000,52220.000000,23285.000000,14.417000,145719.000000,234.000000

So now we reduced number of potential postcodes districts to 32. Lets look to them in a map before explore further details

In [184]:
df_selectedpc=df_actual_price

In [185]:
df_selectedpc

,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,miles,Avg asking price,Crime rate,Area Name,General_Area_name
PCD,,,,,,,,,,,,,,,,
DH7,54.7895,-1.66153,421863,543897,NZ218438,"Brandon, Lanchester, Esh Winning, Burnhope, La...",County Durham,1443,1245,41076.0,18549.0,11.482,137820.0,92.0,"Brandon, Lanchester, Esh Winning, Burnhope, La...",DURHAM
TS29,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,14.044,91527.0,96.0,Trimdon Station,Trimdon Station
DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
SR3,54.8779,-1.41645,437541,553838,NZ375538,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",Sunderland,1086,868,38726.0,16980.0,3.945,142491.0,98.0,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",SUNDERLAND
NE17,54.9158,-1.81885,411711,557914,NZ117579,"Chopwell, Western Chopwell Wood",Gateshead,197,166,4890.0,2255.0,13.842,106425.0,111.0,"Chopwell, Western Chopwell Wood",Newcastle upon Tyne
NE21,54.9588,-1.71977,418043,562720,NZ180627,"Blaydon, Winlaton",Gateshead,726,536,17260.0,7565.0,10.301,141821.0,111.0,"Blaydon, Winlaton",Blaydon-on-Tyne
DH4,54.8529,-1.49028,432824,551019,NZ328510,Houghton-le-Spring,Sunderland,1142,901,33367.0,14223.0,5.317,145719.0,114.0,Houghton-le-Spring,HOUGHTON LE SPRING
NE34,54.9728,-1.42321,437020,564395,NZ370643,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Tyneside,1204,1055,52220.0,23285.0,4.154,129049.0,114.0,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Shields
NE31,54.9717,-1.51259,431300,564228,NZ312642,Hebburn,South Tyneside,627,494,20159.0,9019.0,4.256,126896.0,117.0,Hebburn,Hebburn
NE10,54.9484,-1.55697,428475,561617,NZ284616,"Felling, Leam Lane, Pelaw",Gateshead,912,738,36136.0,16295.0,4.910,109547.0,120.0,"Felling, Leam Lane, Pelaw",Gateshead
NE9,54.9316,-1.58767,426520,559735,NZ265597,"Low Fell, Springwell",Gateshead,1025,833,37590.0,16533.0,5.568,141775.0,124.0,"Low Fell, Springwell",Gateshead
NE32,54.9697,-1.48439,433107,564019,NZ331640,"Jarrow, Fellgate, South Tyne Tunnel",South Tyneside,878,694,25359.0,11292.0,4.289,130344.0,127.0,"Jarrow, Fellgate, South Tyne Tunnel",Jarrow
NE15,54.9832,-1.71906,418077,565436,NZ180654,"Lemington, Throckley, Newburn",Newcastle,1128,854,32569.0,14195.0,13.965,145176.0,128.0,"Lemington, Throckley, Newburn",Newcastle upon Tyne
SR7,54.8309,-1.36058,441174,548639,NZ411486,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",County Durham,1005,844,31185.0,13571.0,7.330,109913.0,129.0,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",Seaham
DH6,54.7535,-1.46490,434538,539970,NZ345399,"Thornley, Coxhoe",County Durham,1163,1022,33466.0,14770.0,9.578,111890.0,132.0,"Thornley, Coxhoe",DURHAM
TS28,54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
NE37,54.9114,-1.52838,430334,557511,NZ303575,"Usworth, Sulgrave, Albany",Sunderland,739,533,21034.0,9025.0,2.771,110676.0,135.0,"Usworth, Sulgrave, Albany",WASHINGTON
DH9,54.8678,-1.71096,418649,552596,NZ186525,"Dipton, Stanley",County Durham,1410,1197,36733.0,16480.0,9.818,89707.0,138.0,"Dipton, Stanley",STANLEY
SR4,54.9016,-1.42472,436989,556471,NZ369564,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",Sunderland,1201,951,41794.0,17625.0,1.869,100891.0,142.0,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",SUNDERLAND
SR5,54.9217,-1.42208,437140,558709,NZ371587,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",Sunderland,1429,1015,34639.0,15310.0,3.375,95073.0,143.0,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",SUNDERLAND
DH5,54.8246,-1.45587,435058,547886,NZ350478,"Houghton-le-Spring, Hetton-le-Hole",Sunderland,645,525,19570.0,8681.0,7.373,123465.0,149.0,"Houghton-le-Spring, Hetton-le-Hole",HOUGHTON LE SPRING
NE35,54.9529,-1.46282,434502,562160,NZ345621,Boldon Colliery,South Tyneside,157,131,6371.0,2773.0,4.286,144870.0,152.0,Boldon Colliery,Boldon Colliery
SR2,54.8886,-1.37865,439956,555049,NZ399550,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",Sunderland,1050,831,33443.0,14641.0,5.084,120457.0,158.0,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",SUNDERLAND
NE11,54.9401,-1.63176,423690,560666,NZ236606,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead,709,480,16457.0,7162.0,6.768,130257.0,163.0,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead
NE29,55.0117,-1.46933,434035,568700,NZ340686,"North Shields, Royal Quays, Billy Mill, New York",North Tyneside,1332,936,35988.0,16899.0,6.291,125204.0,169.0,"North Shields, Royal Quays, Billy Mill, New York",North Shields
NE28,55.0007,-1.51887,430876,567453,NZ308674,"Battle Hill, Willington, Wallsend, North Tyne ...",North Tyneside,1358,1015,44661.0,20493.0,5.438,104217.0,177.0,"Battle Hill, Willington, Wallsend, North Tyne ...",Wallsend
NE24,55.1228,-1.52140,430621,581039,NZ306810,"Blyth, Newsham",Northumberland,1326,1076,37946.0,16681.0,14.417,125731.0,180.0,"Blyth, Newsham",BLYTH
NE4,54.9728,-1.64380,422900,564300,NZ228643,"Fenham, West Gate, Wingrove",Newcastle,1052,788,37949.0,14394.0,7.856,121937.0,187.0,"Fenham, West Gate, Wingrove",Newcastle upon Tyne
NE6,54.9772,-1.56735,427790,564818,NZ277648,"Walker, Byker, Heaton",Newcastle,1547,1049,50914.0,22975.0,5.972,124306.0,190.0,"Walker, Byker, Heaton",Newcastle upon Tyne
SR8,54.7666,-1.33657,442784,541498,NZ427414,"Easington, Easington Colliery, Horden, Little ...",County Durham,1236,972,35443.0,15373.0,12.405,82399.0,194.0,"Easington, Easington Colliery, Horden, Little ...",Peterlee
NE33,54.9920,-1.43125,436488,566527,NZ364665,"South Shields Town Centre, Deans, High Shields",South Tyneside,1214,771,27376.0,13420.0,5.438,94278.0,219.0,"South Shields Town Centre, Deans, High Shields",South Shields
NE8,54.9563,-1.60503,425392,562477,NZ253624,"Gateshead, Bensham",Gateshead,1272,728,33219.0,15447.0,6.172,104299.0,234.0,"Gateshead, Bensham",Gateshead

In [186]:
pip install geopy

Requirement already satisfied: geopy in e:\python\lib\site-packages (1.22.0)
Requirement already satisfied: geographiclib<2,>=1.49 in e:\python\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [187]:
pip install folium

Requirement already satisfied: folium in e:\python\lib\site-packages (0.5.0)
Requirement already satisfied: branca in e:\python\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2 in e:\python\lib\site-packages (from folium) (2.11.1)
Requirement already satisfied: requests in e:\python\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: six in e:\python\lib\site-packages (from folium) (1.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in e:\python\lib\site-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in e:\python\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in e:\python\lib\site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in e:\python\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in e:\python\lib\site-packages (from requests->folium) (1.25.8)
Note: you may need to restart the kernel to use updated packages.

In [188]:
import folium
print ('ready')

ready

In [189]:
#lets create as map
map_NE = folium.Map(location=[20, 0], zoom_start=2)
map_NE

In [192]:
#Lets put selected postcodes districts on the map
df_selectedpc.apply(lambda row:folium.Marker(location=[row["Latitude"], row["Longitude"]], 
                                            popup=row['Region']).add_to(map_NE), axis=1)

PCD
DH7     <folium.map.Marker object at 0x000002B385853F48>
TS29    <folium.map.Marker object at 0x000002B3858231C8>
DH2     <folium.map.Marker object at 0x000002B3857EE408>
SR3     <folium.map.Marker object at 0x000002B385828208>
NE17    <folium.map.Marker object at 0x000002B385BE56C8>
NE21    <folium.map.Marker object at 0x000002B385823988>
DH4     <folium.map.Marker object at 0x000002B3857BF7C8>
NE34    <folium.map.Marker object at 0x000002B3857D7D88>
NE31    <folium.map.Marker object at 0x000002B385817FC8>
NE10    <folium.map.Marker object at 0x000002B385D41908>
NE9     <folium.map.Marker object at 0x000002B385AD0348>
NE32    <folium.map.Marker object at 0x000002B3858572C8>
NE15    <folium.map.Marker object at 0x000002B385D41988>
SR7     <folium.map.Marker object at 0x000002B3857BFB48>
DH6     <folium.map.Marker object at 0x000002B380901D88>
TS28    <folium.map.Marker object at 0x000002B3857BFC88>
NE37    <folium.map.Marker object at 0x000002B385817748>
DH9     <folium.map.Marker object at 0x000002B38578E288>
SR4     <folium.map.Marker object at 0x000002B3857ACD88>
SR5     <folium.map.Marker object at 0x000002B38572A108>
DH5     <folium.map.Marker object at 0x000002B38578E308>
NE35    <folium.map.Marker object at 0x000002B38572A588>
SR2     <folium.map.Marker object at 0x000002B3857FF9C8>
NE11    <folium.map.Marker object at 0x000002B385D41948>
NE29    <folium.map.Marker object at 0x000002B38578B348>
NE28    <folium.map.Marker object at 0x000002B385D419C8>
NE24    <folium.map.Marker object at 0x000002B38571AE88>
NE4     <folium.map.Marker object at 0x000002B38572A208>
NE6     <folium.map.Marker object at 0x000002B3857EEB08>
SR8     <folium.map.Marker object at 0x000002B38582E6C8>
NE33    <folium.map.Marker object at 0x000002B385800148>
NE8     <folium.map.Marker object at 0x000002B3858B3808>
dtype: object

In [193]:
map_NE

In [194]:
#lets also add marker for workplace location.
map_NE
folium.Marker([54.92018,-1.46678], popup='Workplace', icon=folium.Icon(color='green')).add_to(map_NE)
map_NE

In [195]:
df_selectedpc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, DH7 to NE8
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Latitude           32 non-null     float64
 1   Longitude          32 non-null     float64
 2   Easting            32 non-null     int64
 3   Northing           32 non-null     int64
 4   Grid Reference     32 non-null     object
 5   Town/Area          32 non-null     object
 6   Region             32 non-null     object
 7   Postcodes          32 non-null     int64
 8   Active postcodes   32 non-null     int64
 9   Population         32 non-null     float64
 10  Households         32 non-null     float64
 11  miles              32 non-null     float64
 12  Avg asking price   32 non-null     float64
 13  Crime rate         32 non-null     float64
 14  Area Name          32 non-null     object
 15  General_Area_name  32 non-null     object
dtypes: float64(7), int64(4), object(5)
memory usage: 5.5+ KB

Lets Explore Selected postcodes using Foursquare API.

In [196]:
# Foursq. cred - (output is hided)
CLIENT_ID ='YOMYRPECDCGNTFEFZVWYWAZMMGOXXKIX1X0EROAIF5T3K5WU'
CLIENT_SECRET ='YRUEGGRNM1X5AIAKNOK5HUP22JTZXKB4VBCF3LXVKGE5FPQW'
VERSION = '20180604'
print ('your credentials:')
print ('CLIENT_ID:'+CLIENT_ID)
print ('CLIENT_SECRET:' + CLIENT_SECRET)

your credentials:
CLIENT_ID:YOMYRPECDCGNTFEFZVWYWAZMMGOXXKIX1X0EROAIF5T3K5WU
CLIENT_SECRET:YRUEGGRNM1X5AIAKNOK5HUP22JTZXKB4VBCF3LXVKGE5FPQW

Lets first see data first for postcode district with largetst number of housholds.

In [197]:
df_selectedpc

,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,miles,Avg asking price,Crime rate,Area Name,General_Area_name
PCD,,,,,,,,,,,,,,,,
DH7,54.7895,-1.66153,421863,543897,NZ218438,"Brandon, Lanchester, Esh Winning, Burnhope, La...",County Durham,1443,1245,41076.0,18549.0,11.482,137820.0,92.0,"Brandon, Lanchester, Esh Winning, Burnhope, La...",DURHAM
TS29,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,14.044,91527.0,96.0,Trimdon Station,Trimdon Station
DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
SR3,54.8779,-1.41645,437541,553838,NZ375538,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",Sunderland,1086,868,38726.0,16980.0,3.945,142491.0,98.0,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",SUNDERLAND
NE17,54.9158,-1.81885,411711,557914,NZ117579,"Chopwell, Western Chopwell Wood",Gateshead,197,166,4890.0,2255.0,13.842,106425.0,111.0,"Chopwell, Western Chopwell Wood",Newcastle upon Tyne
NE21,54.9588,-1.71977,418043,562720,NZ180627,"Blaydon, Winlaton",Gateshead,726,536,17260.0,7565.0,10.301,141821.0,111.0,"Blaydon, Winlaton",Blaydon-on-Tyne
DH4,54.8529,-1.49028,432824,551019,NZ328510,Houghton-le-Spring,Sunderland,1142,901,33367.0,14223.0,5.317,145719.0,114.0,Houghton-le-Spring,HOUGHTON LE SPRING
NE34,54.9728,-1.42321,437020,564395,NZ370643,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Tyneside,1204,1055,52220.0,23285.0,4.154,129049.0,114.0,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Shields
NE31,54.9717,-1.51259,431300,564228,NZ312642,Hebburn,South Tyneside,627,494,20159.0,9019.0,4.256,126896.0,117.0,Hebburn,Hebburn
NE10,54.9484,-1.55697,428475,561617,NZ284616,"Felling, Leam Lane, Pelaw",Gateshead,912,738,36136.0,16295.0,4.910,109547.0,120.0,"Felling, Leam Lane, Pelaw",Gateshead
NE9,54.9316,-1.58767,426520,559735,NZ265597,"Low Fell, Springwell",Gateshead,1025,833,37590.0,16533.0,5.568,141775.0,124.0,"Low Fell, Springwell",Gateshead
NE32,54.9697,-1.48439,433107,564019,NZ331640,"Jarrow, Fellgate, South Tyne Tunnel",South Tyneside,878,694,25359.0,11292.0,4.289,130344.0,127.0,"Jarrow, Fellgate, South Tyne Tunnel",Jarrow
NE15,54.9832,-1.71906,418077,565436,NZ180654,"Lemington, Throckley, Newburn",Newcastle,1128,854,32569.0,14195.0,13.965,145176.0,128.0,"Lemington, Throckley, Newburn",Newcastle upon Tyne
SR7,54.8309,-1.36058,441174,548639,NZ411486,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",County Durham,1005,844,31185.0,13571.0,7.330,109913.0,129.0,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",Seaham
DH6,54.7535,-1.46490,434538,539970,NZ345399,"Thornley, Coxhoe",County Durham,1163,1022,33466.0,14770.0,9.578,111890.0,132.0,"Thornley, Coxhoe",DURHAM
TS28,54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
NE37,54.9114,-1.52838,430334,557511,NZ303575,"Usworth, Sulgrave, Albany",Sunderland,739,533,21034.0,9025.0,2.771,110676.0,135.0,"Usworth, Sulgrave, Albany",WASHINGTON
DH9,54.8678,-1.71096,418649,552596,NZ186525,"Dipton, Stanley",County Durham,1410,1197,36733.0,16480.0,9.818,89707.0,138.0,"Dipton, Stanley",STANLEY
SR4,54.9016,-1.42472,436989,556471,NZ369564,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",Sunderland,1201,951,41794.0,17625.0,1.869,100891.0,142.0,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",SUNDERLAND
SR5,54.9217,-1.42208,437140,558709,NZ371587,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",Sunderland,1429,1015,34639.0,15310.0,3.375,95073.0,143.0,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",SUNDERLAND
DH5,54.8246,-1.45587,435058,547886,NZ350478,"Houghton-le-Spring, Hetton-le-Hole",Sunderland,645,525,19570.0,8681.0,7.373,123465.0,149.0,"Houghton-le-Spring, Hetton-le-Hole",HOUGHTON LE SPRING
NE35,54.9529,-1.46282,434502,562160,NZ345621,Boldon Colliery,South Tyneside,157,131,6371.0,2773.0,4.286,144870.0,152.0,Boldon Colliery,Boldon Colliery
SR2,54.8886,-1.37865,439956,555049,NZ399550,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",Sunderland,1050,831,33443.0,14641.0,5.084,120457.0,158.0,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",SUNDERLAND
NE11,54.9401,-1.63176,423690,560666,NZ236606,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead,709,480,16457.0,7162.0,6.768,130257.0,163.0,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead
NE29,55.0117,-1.46933,434035,568700,NZ340686,"North Shields, Royal Quays, Billy Mill, New York",North Tyneside,1332,936,35988.0,16899.0,6.291,125204.0,169.0,"North Shields, Royal Quays, Billy Mill, New York",North Shields
NE28,55.0007,-1.51887,430876,567453,NZ308674,"Battle Hill, Willington, Wallsend, North Tyne ...",North Tyneside,1358,1015,44661.0,20493.0,5.438,104217.0,177.0,"Battle Hill, Willington, Wallsend, North Tyne ...",Wallsend
NE24,55.1228,-1.52140,430621,581039,NZ306810,"Blyth, Newsham",Northumberland,1326,1076,37946.0,16681.0,14.417,125731.0,180.0,"Blyth, Newsham",BLYTH
NE4,54.9728,-1.64380,422900,564300,NZ228643,"Fenham, West Gate, Wingrove",Newcastle,1052,788,37949.0,14394.0,7.856,121937.0,187.0,"Fenham, West Gate, Wingrove",Newcastle upon Tyne
NE6,54.9772,-1.56735,427790,564818,NZ277648,"Walker, Byker, Heaton",Newcastle,1547,1049,50914.0,22975.0,5.972,124306.0,190.0,"Walker, Byker, Heaton",Newcastle upon Tyne
SR8,54.7666,-1.33657,442784,541498,NZ427414,"Easington, Easington Colliery, Horden, Little ...",County Durham,1236,972,35443.0,15373.0,12.405,82399.0,194.0,"Easington, Easington Colliery, Horden, Little ...",Peterlee
NE33,54.9920,-1.43125,436488,566527,NZ364665,"South Shields Town Centre, Deans, High Shields",South Tyneside,1214,771,27376.0,13420.0,5.438,94278.0,219.0,"South Shields Town Centre, Deans, High Shields",South Shields
NE8,54.9563,-1.60503,425392,562477,NZ253624,"Gateshead, Bensham",Gateshead,1272,728,33219.0,15447.0,6.172,104299.0,234.0,"Gateshead, Bensham",Gateshead

In [202]:
import requests

In [208]:
# Using Foursq data finding top 30 venues within 1000 m. radius
LIMIT = 30 # limit of number of venues returned by Foursquare API
radius = 1000 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    54.9728, 
    -1.42321, 
    radius, 
    LIMIT)

results = requests.get(url).json()

In [209]:
#Extracting category of venues
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [210]:
from pandas.io.json import json_normalize

In [211]:
venues = results['response']['groups'][0]['items']
nearby_venues = json_normalize(venues) 

# columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues

E:\python\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

            name          categories        lat       lng
0      CaffÃ© Mio                CafÃ©  54.972032 -1.410472
1         Subway      Sandwich Place  54.971930 -1.411364
2   The Grey Hen                 Pub  54.976044 -1.422470
3  Tesco Express       Grocery Store  54.972019 -1.413057
4        Spice 1   Indian Restaurant  54.972256 -1.411075
5      Tavistock  Italian Restaurant  54.977120 -1.435373

In [212]:
def getNearbyVenues(names, latitudes, longitudes, radius=1000):
    venues_list=[]
    
    for PCD, Latitude, Longitude in zip(names, latitudes, longitudes):
                   
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return  relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = df_selectedpc([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['PCD', 
                  'Latitude', 
                  'Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [221]:
df_selectedpc

,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,miles,Avg asking price,Crime rate,Area Name,General_Area_name
PCD,,,,,,,,,,,,,,,,
DH7,54.7895,-1.66153,421863,543897,NZ218438,"Brandon, Lanchester, Esh Winning, Burnhope, La...",County Durham,1443,1245,41076.0,18549.0,11.482,137820.0,92.0,"Brandon, Lanchester, Esh Winning, Burnhope, La...",DURHAM
TS29,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,14.044,91527.0,96.0,Trimdon Station,Trimdon Station
DH2,54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
SR3,54.8779,-1.41645,437541,553838,NZ375538,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",Sunderland,1086,868,38726.0,16980.0,3.945,142491.0,98.0,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",SUNDERLAND
NE17,54.9158,-1.81885,411711,557914,NZ117579,"Chopwell, Western Chopwell Wood",Gateshead,197,166,4890.0,2255.0,13.842,106425.0,111.0,"Chopwell, Western Chopwell Wood",Newcastle upon Tyne
NE21,54.9588,-1.71977,418043,562720,NZ180627,"Blaydon, Winlaton",Gateshead,726,536,17260.0,7565.0,10.301,141821.0,111.0,"Blaydon, Winlaton",Blaydon-on-Tyne
DH4,54.8529,-1.49028,432824,551019,NZ328510,Houghton-le-Spring,Sunderland,1142,901,33367.0,14223.0,5.317,145719.0,114.0,Houghton-le-Spring,HOUGHTON LE SPRING
NE34,54.9728,-1.42321,437020,564395,NZ370643,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Tyneside,1204,1055,52220.0,23285.0,4.154,129049.0,114.0,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Shields
NE31,54.9717,-1.51259,431300,564228,NZ312642,Hebburn,South Tyneside,627,494,20159.0,9019.0,4.256,126896.0,117.0,Hebburn,Hebburn
NE10,54.9484,-1.55697,428475,561617,NZ284616,"Felling, Leam Lane, Pelaw",Gateshead,912,738,36136.0,16295.0,4.910,109547.0,120.0,"Felling, Leam Lane, Pelaw",Gateshead
NE9,54.9316,-1.58767,426520,559735,NZ265597,"Low Fell, Springwell",Gateshead,1025,833,37590.0,16533.0,5.568,141775.0,124.0,"Low Fell, Springwell",Gateshead
NE32,54.9697,-1.48439,433107,564019,NZ331640,"Jarrow, Fellgate, South Tyne Tunnel",South Tyneside,878,694,25359.0,11292.0,4.289,130344.0,127.0,"Jarrow, Fellgate, South Tyne Tunnel",Jarrow
NE15,54.9832,-1.71906,418077,565436,NZ180654,"Lemington, Throckley, Newburn",Newcastle,1128,854,32569.0,14195.0,13.965,145176.0,128.0,"Lemington, Throckley, Newburn",Newcastle upon Tyne
SR7,54.8309,-1.36058,441174,548639,NZ411486,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",County Durham,1005,844,31185.0,13571.0,7.330,109913.0,129.0,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",Seaham
DH6,54.7535,-1.46490,434538,539970,NZ345399,"Thornley, Coxhoe",County Durham,1163,1022,33466.0,14770.0,9.578,111890.0,132.0,"Thornley, Coxhoe",DURHAM
TS28,54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
NE37,54.9114,-1.52838,430334,557511,NZ303575,"Usworth, Sulgrave, Albany",Sunderland,739,533,21034.0,9025.0,2.771,110676.0,135.0,"Usworth, Sulgrave, Albany",WASHINGTON
DH9,54.8678,-1.71096,418649,552596,NZ186525,"Dipton, Stanley",County Durham,1410,1197,36733.0,16480.0,9.818,89707.0,138.0,"Dipton, Stanley",STANLEY
SR4,54.9016,-1.42472,436989,556471,NZ369564,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",Sunderland,1201,951,41794.0,17625.0,1.869,100891.0,142.0,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",SUNDERLAND
SR5,54.9217,-1.42208,437140,558709,NZ371587,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",Sunderland,1429,1015,34639.0,15310.0,3.375,95073.0,143.0,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",SUNDERLAND
DH5,54.8246,-1.45587,435058,547886,NZ350478,"Houghton-le-Spring, Hetton-le-Hole",Sunderland,645,525,19570.0,8681.0,7.373,123465.0,149.0,"Houghton-le-Spring, Hetton-le-Hole",HOUGHTON LE SPRING
NE35,54.9529,-1.46282,434502,562160,NZ345621,Boldon Colliery,South Tyneside,157,131,6371.0,2773.0,4.286,144870.0,152.0,Boldon Colliery,Boldon Colliery
SR2,54.8886,-1.37865,439956,555049,NZ399550,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",Sunderland,1050,831,33443.0,14641.0,5.084,120457.0,158.0,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",SUNDERLAND
NE11,54.9401,-1.63176,423690,560666,NZ236606,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead,709,480,16457.0,7162.0,6.768,130257.0,163.0,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead
NE29,55.0117,-1.46933,434035,568700,NZ340686,"North Shields, Royal Quays, Billy Mill, New York",North Tyneside,1332,936,35988.0,16899.0,6.291,125204.0,169.0,"North Shields, Royal Quays, Billy Mill, New York",North Shields
NE28,55.0007,-1.51887,430876,567453,NZ308674,"Battle Hill, Willington, Wallsend, North Tyne ...",North Tyneside,1358,1015,44661.0,20493.0,5.438,104217.0,177.0,"Battle Hill, Willington, Wallsend, North Tyne ...",Wallsend
NE24,55.1228,-1.52140,430621,581039,NZ306810,"Blyth, Newsham",Northumberland,1326,1076,37946.0,16681.0,14.417,125731.0,180.0,"Blyth, Newsham",BLYTH
NE4,54.9728,-1.64380,422900,564300,NZ228643,"Fenham, West Gate, Wingrove",Newcastle,1052,788,37949.0,14394.0,7.856,121937.0,187.0,"Fenham, West Gate, Wingrove",Newcastle upon Tyne
NE6,54.9772,-1.56735,427790,564818,NZ277648,"Walker, Byker, Heaton",Newcastle,1547,1049,50914.0,22975.0,5.972,124306.0,190.0,"Walker, Byker, Heaton",Newcastle upon Tyne
SR8,54.7666,-1.33657,442784,541498,NZ427414,"Easington, Easington Colliery, Horden, Little ...",County Durham,1236,972,35443.0,15373.0,12.405,82399.0,194.0,"Easington, Easington Colliery, Horden, Little ...",Peterlee
NE33,54.9920,-1.43125,436488,566527,NZ364665,"South Shields Town Centre, Deans, High Shields",South Tyneside,1214,771,27376.0,13420.0,5.438,94278.0,219.0,"South Shields Town Centre, Deans, High Shields",South Shields
NE8,54.9563,-1.60503,425392,562477,NZ253624,"Gateshead, Bensham",Gateshead,1272,728,33219.0,15447.0,6.172,104299.0,234.0,"Gateshead, Bensham",Gateshead

In [233]:
df_selectedpc=df_selectedpc[['Area Name', 'Latitude', 'Longitude', 'Easting', 'Northing', 'Grid Reference', 'Town/Area', 'Region', 'Postcodes', 'Active postcodes', 'Population', 'Households', 'miles', 'Avg asking price', 'Crime rate', 'Area Name', 'General_Area_name']]

In [234]:
df_selectedpc

,Area Name,Latitude,Longitude,Easting,Northing,Grid Reference,Town/Area,Region,Postcodes,Active postcodes,Population,Households,miles,Avg asking price,Crime rate,Area Name,General_Area_name
PCD,,,,,,,,,,,,,,,,,
DH7,"Brandon, Lanchester, Esh Winning, Burnhope, La...",54.7895,-1.66153,421863,543897,NZ218438,"Brandon, Lanchester, Esh Winning, Burnhope, La...",County Durham,1443,1245,41076.0,18549.0,11.482,137820.0,92.0,"Brandon, Lanchester, Esh Winning, Burnhope, La...",DURHAM
TS29,Trimdon Station,54.7112,-1.41995,437470,535286,NZ374352,Trimdon Station,County Durham,208,193,6313.0,2707.0,14.044,91527.0,96.0,Trimdon Station,Trimdon Station
DH2,"Chester-le-Street, Ouston, Pelton, Birtley",54.8599,-1.59829,425885,551753,NZ258517,"Chester-le-Street, Ouston, Pelton, Birtley",County Durham,858,700,30650.0,13551.0,5.703,119902.0,97.0,"Chester-le-Street, Ouston, Pelton, Birtley",CHESTER LE STREET
SR3,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",54.8779,-1.41645,437541,553838,NZ375538,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",Sunderland,1086,868,38726.0,16980.0,3.945,142491.0,98.0,"Chapelgarth, Doxford Park, Farringdon, Elstob ...",SUNDERLAND
NE17,"Chopwell, Western Chopwell Wood",54.9158,-1.81885,411711,557914,NZ117579,"Chopwell, Western Chopwell Wood",Gateshead,197,166,4890.0,2255.0,13.842,106425.0,111.0,"Chopwell, Western Chopwell Wood",Newcastle upon Tyne
NE21,"Blaydon, Winlaton",54.9588,-1.71977,418043,562720,NZ180627,"Blaydon, Winlaton",Gateshead,726,536,17260.0,7565.0,10.301,141821.0,111.0,"Blaydon, Winlaton",Blaydon-on-Tyne
DH4,Houghton-le-Spring,54.8529,-1.49028,432824,551019,NZ328510,Houghton-le-Spring,Sunderland,1142,901,33367.0,14223.0,5.317,145719.0,114.0,Houghton-le-Spring,HOUGHTON LE SPRING
NE34,"Harton, Horsley Hill, Marsden, Simonside, Broc...",54.9728,-1.42321,437020,564395,NZ370643,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Tyneside,1204,1055,52220.0,23285.0,4.154,129049.0,114.0,"Harton, Horsley Hill, Marsden, Simonside, Broc...",South Shields
NE31,Hebburn,54.9717,-1.51259,431300,564228,NZ312642,Hebburn,South Tyneside,627,494,20159.0,9019.0,4.256,126896.0,117.0,Hebburn,Hebburn
NE10,"Felling, Leam Lane, Pelaw",54.9484,-1.55697,428475,561617,NZ284616,"Felling, Leam Lane, Pelaw",Gateshead,912,738,36136.0,16295.0,4.910,109547.0,120.0,"Felling, Leam Lane, Pelaw",Gateshead
NE9,"Low Fell, Springwell",54.9316,-1.58767,426520,559735,NZ265597,"Low Fell, Springwell",Gateshead,1025,833,37590.0,16533.0,5.568,141775.0,124.0,"Low Fell, Springwell",Gateshead
NE32,"Jarrow, Fellgate, South Tyne Tunnel",54.9697,-1.48439,433107,564019,NZ331640,"Jarrow, Fellgate, South Tyne Tunnel",South Tyneside,878,694,25359.0,11292.0,4.289,130344.0,127.0,"Jarrow, Fellgate, South Tyne Tunnel",Jarrow
NE15,"Lemington, Throckley, Newburn",54.9832,-1.71906,418077,565436,NZ180654,"Lemington, Throckley, Newburn",Newcastle,1128,854,32569.0,14195.0,13.965,145176.0,128.0,"Lemington, Throckley, Newburn",Newcastle upon Tyne
SR7,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",54.8309,-1.36058,441174,548639,NZ411486,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",County Durham,1005,844,31185.0,13571.0,7.330,109913.0,129.0,"Cold Hesledon, Dalton-le-Dale, Dawdon, Denesid...",Seaham
DH6,"Thornley, Coxhoe",54.7535,-1.46490,434538,539970,NZ345399,"Thornley, Coxhoe",County Durham,1163,1022,33466.0,14770.0,9.578,111890.0,132.0,"Thornley, Coxhoe",DURHAM
TS28,"Wingate, Station Town",54.7255,-1.37499,440352,536902,NZ403369,"Wingate, Station Town",County Durham,193,159,5318.0,2275.0,13.875,119683.0,133.0,"Wingate, Station Town",WINGATE
NE37,"Usworth, Sulgrave, Albany",54.9114,-1.52838,430334,557511,NZ303575,"Usworth, Sulgrave, Albany",Sunderland,739,533,21034.0,9025.0,2.771,110676.0,135.0,"Usworth, Sulgrave, Albany",WASHINGTON
DH9,"Dipton, Stanley",54.8678,-1.71096,418649,552596,NZ186525,"Dipton, Stanley",County Durham,1410,1197,36733.0,16480.0,9.818,89707.0,138.0,"Dipton, Stanley",STANLEY
SR4,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",54.9016,-1.42472,436989,556471,NZ369564,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",Sunderland,1201,951,41794.0,17625.0,1.869,100891.0,142.0,"Ayres Quay, Barnes, Chester Road, Deptford, Fo...",SUNDERLAND
SR5,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",54.9217,-1.42208,437140,558709,NZ371587,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",Sunderland,1429,1015,34639.0,15310.0,3.375,95073.0,143.0,"Carley Hill, Castletown, Downhill, Fulwell, Hy...",SUNDERLAND
DH5,"Houghton-le-Spring, Hetton-le-Hole",54.8246,-1.45587,435058,547886,NZ350478,"Houghton-le-Spring, Hetton-le-Hole",Sunderland,645,525,19570.0,8681.0,7.373,123465.0,149.0,"Houghton-le-Spring, Hetton-le-Hole",HOUGHTON LE SPRING
NE35,Boldon Colliery,54.9529,-1.46282,434502,562160,NZ345621,Boldon Colliery,South Tyneside,157,131,6371.0,2773.0,4.286,144870.0,152.0,Boldon Colliery,Boldon Colliery
SR2,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",54.8886,-1.37865,439956,555049,NZ399550,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",Sunderland,1050,831,33443.0,14641.0,5.084,120457.0,158.0,"Ashbrooke, Ryhope, Grangetown, Hendon, Hillvie...",SUNDERLAND
NE11,"Dunston, Metro Centre, Team Valley, Kibblesworth",54.9401,-1.63176,423690,560666,NZ236606,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead,709,480,16457.0,7162.0,6.768,130257.0,163.0,"Dunston, Metro Centre, Team Valley, Kibblesworth",Gateshead
NE29,"North Shields, Royal Quays, Billy Mill, New York",55.0117,-1.46933,434035,568700,NZ340686,"North Shields, Royal Quays, Billy Mill, New York",North Tyneside,1332,936,35988.0,16899.0,6.291,125204.0,169.0,"North Shields, Royal Quays, Billy Mill, New York",North Shields
NE28,"Battle Hill, Willington, Wallsend, North Tyne ...",55.0007,-1.51887,430876,567453,NZ308674,"Battle Hill, Willington, Wallsend, North Tyne ...",North Tyneside,1358,1015,44661.0,20493.0,5.438,104217.0,177.0,"Battle Hill, Willington, Wallsend, North Tyne ...",Wallsend
NE24,"Blyth, Newsham",55.1228,-1.52140,430621,581039,NZ306810,"Blyth, Newsham",Northumberland,1326,1076,37946.0,16681.0,14.417,125731.0,180.0,"Blyth, Newsham",BLYTH
NE4,"Fenham, West Gate, Wingrove",54.9728,-1.64380,422900,564300,NZ228643,"Fenham, West Gate, Wingrove",Newcastle,1052,788,37949.0,14394.0,7.856,121937.0,187.0,"Fenham, West Gate, Wingrove",Newcastle upon Tyne
NE6,"Walker, Byker, Heaton",54.9772,-1.56735,427790,564818,NZ277648,"Walker, Byker, Heaton",Newcastle,1547,1049,50914.0,22975.0,5.972,124306.0,190.0,"Walker, Byker, Heaton",Newcastle upon Tyne
SR8,"Easington, Easington Colliery, Horden, Little ...",54.7666,-1.33657,442784,541498,NZ427414,"Easington, Easington Colliery, Horden, Little ...",County Durham,1236,972,35443.0,15373.0,12.405,82399.0,194.0,"Easington, Easington Colliery, Horden, Little ...",Peterlee
NE33,"South Shields Town Centre, Deans, High Shields",54.9920,-1.43125,436488,566527,NZ364665,"South Shields Town Centre, Deans, High Shields",South Tyneside,1214,771,27376.0,13420.0,5.438,94278.0,219.0,"South Shields Town Centre, Deans, High Shields",South Shields
NE8,"Gateshead, Bensham",54.9563,-1.60503,425392,562477,NZ253624,"Gateshead, Bensham",Gateshead,1272,728,33219.0,15447.0,6.172,104299.0,234.0,"Gateshead, Bensham",Gateshead

In [255]:
def getNearbyVenues(names, latitudes, longitudes, radius=1000):
    venues_list=[]
    
    for name, lat, lng in zip(names, latitudes, longitudes):
                   
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return  relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Grid Reference', 
                  'Latitude', 
                  'Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [256]:
#Creating merged Dataframe 
df_with_venues = getNearbyVenues(names=df_selectedpc['Grid Reference'],
                                   latitudes=df_selectedpc['Latitude'],
                                   longitudes=df_selectedpc['Longitude']
                                  )

In [257]:
df_with_venues.head()

,Grid Reference,Latitude,Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,NZ218438,54.7895,-1.66153,New Board Inn,54.793065,-1.668720,Restaurant
1,NZ374352,54.7112,-1.41995,Chisholm Bookmakers,54.716614,-1.410735,Gaming Cafe
2,NZ374352,54.7112,-1.41995,Bus Stop,54.718554,-1.412110,Bus Stop
3,NZ258517,54.8599,-1.59829,Bodywell Chip,54.862821,-1.601266,Mobile Phone Shop
4,NZ258517,54.8599,-1.59829,Orchard Roofing,54.863375,-1.603886,Construction & Landscaping

Area name doesn't readable properly, so will re-name it to benefit further analysys.

In [252]:
df_names=pd.read_csv("D:\\to use\\names.csv")
print('ready')

ready

In [253]:
df_names

   Grid Reference                      Name
0        NZ218438                DURHAM_DH7
1        NZ374352      Trimdon Station_TS29
2        NZ258517    CHESTER LE STREET _DH2
3        NZ375538            SUNDERLAND_SR3
4        NZ117579  Newcastle upon Tyne_NE17
5        NZ180627      Blaydon-on-Tyne_NE21
6        NZ328510    HOUGHTON LE SPRING_DH4
7        NZ370643        South Shields_NE34
8        NZ312642              Hebburn_NE31
9        NZ284616            Gateshead_NE10
10       NZ265597             Gateshead_NE9
11       NZ331640               Jarrow_NE32
12       NZ180654  Newcastle upon Tyne_NE15
13       NZ411486                Seaham_SR7
14       NZ345399                DURHAM_DH6
15       NZ403369              WINGATE_TS28
16       NZ303575           WASHINGTON_NE37
17       NZ186525               STANLEY_DH9
18       NZ369564            SUNDERLAND_SR4
19       NZ371587            SUNDERLAND_SR5
20       NZ350478    HOUGHTON LE SPRING_DH5
21       NZ345621      Boldon Colliery_NE35
22       NZ399550            SUNDERLAND_SR2
23       NZ236606            Gateshead_NE11
24       NZ340686        North Shields_NE29
25       NZ308674             Wallsend_NE28
26       NZ306810                BLYTH_NE24
27       NZ228643   Newcastle upon Tyne_NE4
28       NZ277648   Newcastle upon Tyne_NE6
29       NZ427414              Peterlee_SR8
30       NZ364665        South Shields+NE33
31       NZ253624             Gateshead_NE8

In [258]:
df_dataincl_venues = pd.merge(df_with_venues, df_names, left_on='Grid Reference', right_on='Grid Reference', how='left')

In [259]:
df_dataincl_venues

,Grid Reference,Latitude,Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category,Name
0,NZ218438,54.7895,-1.66153,New Board Inn,54.793065,-1.668720,Restaurant,DURHAM_DH7
1,NZ374352,54.7112,-1.41995,Chisholm Bookmakers,54.716614,-1.410735,Gaming Cafe,Trimdon Station_TS29
2,NZ374352,54.7112,-1.41995,Bus Stop,54.718554,-1.412110,Bus Stop,Trimdon Station_TS29
3,NZ258517,54.8599,-1.59829,Bodywell Chip,54.862821,-1.601266,Mobile Phone Shop,CHESTER LE STREET _DH2
4,NZ258517,54.8599,-1.59829,Orchard Roofing,54.863375,-1.603886,Construction & Landscaping,CHESTER LE STREET _DH2
...,...,...,...,...,...,...,...,...
304,NZ253624,54.9563,-1.60503,Sanctuary Artspace,54.961932,-1.600646,Art Gallery,Gateshead_NE8
305,NZ253624,54.9563,-1.60503,Aldi,54.958737,-1.594837,Supermarket,Gateshead_NE8
306,NZ253624,54.9563,-1.60503,Shipley Art Gallery,54.950109,-1.600080,Art Gallery,Gateshead_NE8
307,NZ253624,54.9563,-1.60503,Life Health & Fitness,54.949089,-1.598779,Gym,Gateshead_NE8
308,NZ253624,54.9563,-1.60503,Last Days Of The Raj,54.948851,-1.599012,Indian Restaurant,Gateshead_NE8

In [264]:
df_dataincl_venues=df_dataincl_venues[['Name','Grid Reference','Latitude','Longitude','Venue','Venue Latitude','Venue Longitude','Venue Category']]

In [265]:
df_dataincl_venues

,Name,Grid Reference,Latitude,Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,DURHAM_DH7,NZ218438,54.7895,-1.66153,New Board Inn,54.793065,-1.668720,Restaurant
1,Trimdon Station_TS29,NZ374352,54.7112,-1.41995,Chisholm Bookmakers,54.716614,-1.410735,Gaming Cafe
2,Trimdon Station_TS29,NZ374352,54.7112,-1.41995,Bus Stop,54.718554,-1.412110,Bus Stop
3,CHESTER LE STREET _DH2,NZ258517,54.8599,-1.59829,Bodywell Chip,54.862821,-1.601266,Mobile Phone Shop
4,CHESTER LE STREET _DH2,NZ258517,54.8599,-1.59829,Orchard Roofing,54.863375,-1.603886,Construction & Landscaping
...,...,...,...,...,...,...,...,...
304,Gateshead_NE8,NZ253624,54.9563,-1.60503,Sanctuary Artspace,54.961932,-1.600646,Art Gallery
305,Gateshead_NE8,NZ253624,54.9563,-1.60503,Aldi,54.958737,-1.594837,Supermarket
306,Gateshead_NE8,NZ253624,54.9563,-1.60503,Shipley Art Gallery,54.950109,-1.600080,Art Gallery
307,Gateshead_NE8,NZ253624,54.9563,-1.60503,Life Health & Fitness,54.949089,-1.598779,Gym
308,Gateshead_NE8,NZ253624,54.9563,-1.60503,Last Days Of The Raj,54.948851,-1.599012,Indian Restaurant

In [266]:
#finding how many venues for each postcode area
df_dataincl_venues.groupby('Name').count()

,Grid Reference,Latitude,Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Name,,,,,,,
BLYTH_NE24,15,15,15,15,15,15,15
Blaydon-on-Tyne_NE21,11,11,11,11,11,11,11
Boldon Colliery_NE35,10,10,10,10,10,10,10
CHESTER LE STREET _DH2,6,6,6,6,6,6,6
DURHAM_DH6,1,1,1,1,1,1,1
DURHAM_DH7,1,1,1,1,1,1,1
Gateshead_NE10,10,10,10,10,10,10,10
Gateshead_NE11,10,10,10,10,10,10,10
Gateshead_NE8,28,28,28,28,28,28,28
Gateshead_NE9,15,15,15,15,15,15,15
HOUGHTON LE SPRING_DH4,4,4,4,4,4,4,4
HOUGHTON LE SPRING_DH5,4,4,4,4,4,4,4
Hebburn_NE31,6,6,6,6,6,6,6
Jarrow_NE32,4,4,4,4,4,4,4
Newcastle upon Tyne_NE15,4,4,4,4,4,4,4
Newcastle upon Tyne_NE17,3,3,3,3,3,3,3
Newcastle upon Tyne_NE4,24,24,24,24,24,24,24
Newcastle upon Tyne_NE6,21,21,21,21,21,21,21
North Shields_NE29,8,8,8,8,8,8,8
Peterlee_SR8,10,10,10,10,10,10,10
STANLEY_DH9,6,6,6,6,6,6,6
SUNDERLAND_SR2,5,5,5,5,5,5,5
SUNDERLAND_SR3,6,6,6,6,6,6,6
SUNDERLAND_SR4,5,5,5,5,5,5,5
SUNDERLAND_SR5,18,18,18,18,18,18,18
Seaham_SR7,5,5,5,5,5,5,5
South Shields+NE33,30,30,30,30,30,30,30
South Shields_NE34,6,6,6,6,6,6,6
Trimdon Station_TS29,2,2,2,2,2,2,2
WASHINGTON_NE37,19,19,19,19,19,19,19
WINGATE_TS28,1,1,1,1,1,1,1
Wallsend_NE28,11,11,11,11,11,11,11

In [276]:
#Analyzing data for each postcode area

venue_onehot = pd.get_dummies(df_dataincl_venues[['Venue Category']], prefix="", prefix_sep="")

In [277]:
venue_onehot

,American Restaurant,Art Gallery,Athletics & Sports,Auto Garage,Bakery,Bar,Bed & Breakfast,Bistro,Bowling Alley,Bus Station,...,Stadium,Stationery Store,Supermarket,Theater,Track,Track Stadium,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Warehouse Store
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
305,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
306,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
307,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [280]:
venue_onehot['Name'] = df_dataincl_venues['Name']

In [282]:
venue_onehot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 0 to 308
Data columns (total 87 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   American Restaurant            309 non-null    uint8
 1   Art Gallery                    309 non-null    uint8
 2   Athletics & Sports             309 non-null    uint8
 3   Auto Garage                    309 non-null    uint8
 4   Bakery                         309 non-null    uint8
 5   Bar                            309 non-null    uint8
 6   Bed & Breakfast                309 non-null    uint8
 7   Bistro                         309 non-null    uint8
 8   Bowling Alley                  309 non-null    uint8
 9   Bus Station                    309 non-null    uint8
 10  Bus Stop                       309 non-null    uint8
 11  Business Service               309 non-null    uint8
 12  CafÃ©                           309 non-null    uint8
 13  Campground                     309 non-null    uint8
 14  Chinese Restaurant             309 non-null    uint8
 15  Climbing Gym                   309 non-null    uint8
 16  Clothing Store                 309 non-null    uint8
 17  Cocktail Bar                   309 non-null    uint8
 18  Coffee Shop                    309 non-null    uint8
 19  Construction & Landscaping     309 non-null    uint8
 20  Convenience Store              309 non-null    uint8
 21  Dance Studio                   309 non-null    uint8
 22  Discount Store                 309 non-null    uint8
 23  Doctor's Office                309 non-null    uint8
 24  Dog Run                        309 non-null    uint8
 25  Fast Food Restaurant           309 non-null    uint8
 26  Fish & Chips Shop              309 non-null    uint8
 27  Food                           309 non-null    uint8
 28  Fried Chicken Joint            309 non-null    uint8
 29  Furniture / Home Store         309 non-null    uint8
 30  Gaming Cafe                    309 non-null    uint8
 31  Gas Station                    309 non-null    uint8
 32  Gastropub                      309 non-null    uint8
 33  Gift Shop                      309 non-null    uint8
 34  Go Kart Track                  309 non-null    uint8
 35  Golf Course                    309 non-null    uint8
 36  Grocery Store                  309 non-null    uint8
 37  Gym                            309 non-null    uint8
 38  Gym / Fitness Center           309 non-null    uint8
 39  Gym Pool                       309 non-null    uint8
 40  Hardware Store                 309 non-null    uint8
 41  Health & Beauty Service        309 non-null    uint8
 42  Herbs & Spices Store           309 non-null    uint8
 43  History Museum                 309 non-null    uint8
 44  Home Service                   309 non-null    uint8
 45  Hotel                          309 non-null    uint8
 46  Indian Restaurant              309 non-null    uint8
 47  Italian Restaurant             309 non-null    uint8
 48  Light Rail Station             309 non-null    uint8
 49  Martial Arts Dojo              309 non-null    uint8
 50  Mediterranean Restaurant       309 non-null    uint8
 51  Middle Eastern Restaurant      309 non-null    uint8
 52  Mobile Phone Shop              309 non-null    uint8
 53  Movie Theater                  309 non-null    uint8
 54  Multiplex                      309 non-null    uint8
 55  Music Store                    309 non-null    uint8
 56  Other Great Outdoors           309 non-null    uint8
 57  Other Repair Shop              309 non-null    uint8
 58  Outdoors & Recreation          309 non-null    uint8
 59  Outlet Store                   309 non-null    uint8
 60  Park                           309 non-null    uint8
 61  Pet Store                      309 non-null    uint8
 62  Pharmacy                       309 non-null    uint8
 63  Pizza Place                    309 non-null    uint8
 64  Plaza                          309 non-null    uint8
 65  Pool                           309 non-null    uint8
 66  Portuguese Restaurant          309 non-null    uint8
 67  Pub                            309 non-null    uint8
 68  Restaurant                     309 non-null    uint8
 69  Sandwich Place                 309 non-null    uint8
 70  Shoe Store                     309 non-null    uint8
 71  Shopping Mall                  309 non-null    uint8
 72  Shopping Plaza                 309 non-null    uint8
 73  Soccer Field                   309 non-null    uint8
 74  Soccer Stadium                 309 non-null    uint8
 75  Sports Club                    309 non-null    uint8
 76  Stadium                        309 non-null    uint8
 77  Stationery Store               309 non-null    uint8
 78  Supermarket                    309 non-null    uint8
 79  Theater                        309 non-null    uint8
 80  Track                          309 non-null    uint8
 81  Track Stadium                  309 non-null    uint8
 82  Train Station                  309 non-null    uint8
 83  Vegetarian / Vegan Restaurant  309 non-null    uint8
 84  Video Game Store               309 non-null    uint8
 85  Warehouse Store                309 non-null    uint8
 86  Name                           309 non-null    object
dtypes: object(1), uint8(86)
memory usage: 30.8+ KB

In [286]:
cols=venue_onehot.columns.tolist()
cols

['American Restaurant',
 'Art Gallery',
 'Athletics & Sports',
 'Auto Garage',
 'Bakery',
 'Bar',
 'Bed & Breakfast',
 'Bistro',
 'Bowling Alley',
 'Bus Station',
 'Bus Stop',
 'Business Service',
 'CafÃ©',
 'Campground',
 'Chinese Restaurant',
 'Climbing Gym',
 'Clothing Store',
 'Cocktail Bar',
 'Coffee Shop',
 'Construction & Landscaping',
 'Convenience Store',
 'Dance Studio',
 'Discount Store',
 "Doctor's Office",
 'Dog Run',
 'Fast Food Restaurant',
 'Fish & Chips Shop',
 'Food',
 'Fried Chicken Joint',
 'Furniture / Home Store',
 'Gaming Cafe',
 'Gas Station',
 'Gastropub',
 'Gift Shop',
 'Go Kart Track',
 'Golf Course',
 'Grocery Store',
 'Gym',
 'Gym / Fitness Center',
 'Gym Pool',
 'Hardware Store',
 'Health & Beauty Service',
 'Herbs & Spices Store',
 'History Museum',
 'Home Service',
 'Hotel',
 'Indian Restaurant',
 'Italian Restaurant',
 'Light Rail Station',
 'Martial Arts Dojo',
 'Mediterranean Restaurant',
 'Middle Eastern Restaurant',
 'Mobile Phone Shop',
 'Movie Theater',
 'Multiplex',
 'Music Store',
 'Other Great Outdoors',
 'Other Repair Shop',
 'Outdoors & Recreation',
 'Outlet Store',
 'Park',
 'Pet Store',
 'Pharmacy',
 'Pizza Place',
 'Plaza',
 'Pool',
 'Portuguese Restaurant',
 'Pub',
 'Restaurant',
 'Sandwich Place',
 'Shoe Store',
 'Shopping Mall',
 'Shopping Plaza',
 'Soccer Field',
 'Soccer Stadium',
 'Sports Club',
 'Stadium',
 'Stationery Store',
 'Supermarket',
 'Theater',
 'Track',
 'Track Stadium',
 'Train Station',
 'Vegetarian / Vegan Restaurant',
 'Video Game Store',
 'Warehouse Store',
 'Name']

In [287]:
cols=cols[-1:]+cols[:-1]

In [288]:
cols

['Name',
 'American Restaurant',
 'Art Gallery',
 'Athletics & Sports',
 'Auto Garage',
 'Bakery',
 'Bar',
 'Bed & Breakfast',
 'Bistro',
 'Bowling Alley',
 'Bus Station',
 'Bus Stop',
 'Business Service',
 'CafÃ©',
 'Campground',
 'Chinese Restaurant',
 'Climbing Gym',
 'Clothing Store',
 'Cocktail Bar',
 'Coffee Shop',
 'Construction & Landscaping',
 'Convenience Store',
 'Dance Studio',
 'Discount Store',
 "Doctor's Office",
 'Dog Run',
 'Fast Food Restaurant',
 'Fish & Chips Shop',
 'Food',
 'Fried Chicken Joint',
 'Furniture / Home Store',
 'Gaming Cafe',
 'Gas Station',
 'Gastropub',
 'Gift Shop',
 'Go Kart Track',
 'Golf Course',
 'Grocery Store',
 'Gym',
 'Gym / Fitness Center',
 'Gym Pool',
 'Hardware Store',
 'Health & Beauty Service',
 'Herbs & Spices Store',
 'History Museum',
 'Home Service',
 'Hotel',
 'Indian Restaurant',
 'Italian Restaurant',
 'Light Rail Station',
 'Martial Arts Dojo',
 'Mediterranean Restaurant',
 'Middle Eastern Restaurant',
 'Mobile Phone Shop',
 'Movie Theater',
 'Multiplex',
 'Music Store',
 'Other Great Outdoors',
 'Other Repair Shop',
 'Outdoors & Recreation',
 'Outlet Store',
 'Park',
 'Pet Store',
 'Pharmacy',
 'Pizza Place',
 'Plaza',
 'Pool',
 'Portuguese Restaurant',
 'Pub',
 'Restaurant',
 'Sandwich Place',
 'Shoe Store',
 'Shopping Mall',
 'Shopping Plaza',
 'Soccer Field',
 'Soccer Stadium',
 'Sports Club',
 'Stadium',
 'Stationery Store',
 'Supermarket',
 'Theater',
 'Track',
 'Track Stadium',
 'Train Station',
 'Vegetarian / Vegan Restaurant',
 'Video Game Store',
 'Warehouse Store']

In [292]:
venue_onehot=venue_onehot[cols]

In [293]:
venue_onehot

,Name,American Restaurant,Art Gallery,Athletics & Sports,Auto Garage,Bakery,Bar,Bed & Breakfast,Bistro,Bowling Alley,...,Stadium,Stationery Store,Supermarket,Theater,Track,Track Stadium,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Warehouse Store
0,DURHAM_DH7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Trimdon Station_TS29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Trimdon Station_TS29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CHESTER LE STREET _DH2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,CHESTER LE STREET _DH2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,Gateshead_NE8,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
305,Gateshead_NE8,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
306,Gateshead_NE8,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
307,Gateshead_NE8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
308,Gateshead_NE8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [295]:
#grouping using mean of frequency
df_groupedvenue=venue_onehot.groupby('Name').mean().reset_index()
df_groupedvenue

,Name,American Restaurant,Art Gallery,Athletics & Sports,Auto Garage,Bakery,Bar,Bed & Breakfast,Bistro,Bowling Alley,...,Stadium,Stationery Store,Supermarket,Theater,Track,Track Stadium,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Warehouse Store
0,BLYTH_NE24,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.133333,0.066667,0.00,0.000000,0.000000,0.000000,0.0,0.066667
1,Blaydon-on-Tyne_NE21,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.090909,0.000000,0.00,0.000000,0.090909,0.000000,0.0,0.000000
2,Boldon Colliery_NE35,0.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
3,CHESTER LE STREET _DH2,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
4,DURHAM_DH6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
5,DURHAM_DH7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
6,Gateshead_NE10,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.300000,0.000000,0.00,0.000000,0.100000,0.000000,0.0,0.000000
7,Gateshead_NE11,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.100000
8,Gateshead_NE8,0.0,0.071429,0.000000,0.000000,0.035714,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.071429,0.000000,0.00,0.000000,0.000000,0.035714,0.0,0.035714
9,Gateshead_NE9,0.0,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,...,0.00,0.000000,0.066667,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
10,HOUGHTON LE SPRING_DH4,0.0,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
11,HOUGHTON LE SPRING_DH5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.25,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
12,Hebburn_NE31,0.0,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,...,0.00,0.000000,0.166667,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
13,Jarrow_NE32,0.0,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.25,0.000000,0.000000,0.000000,0.0,0.000000
14,Newcastle upon Tyne_NE15,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.250000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
15,Newcastle upon Tyne_NE17,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
16,Newcastle upon Tyne_NE4,0.0,0.000000,0.041667,0.000000,0.000000,0.000000,0.041667,0.041667,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
17,Newcastle upon Tyne_NE6,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.095238,0.000000,0.00,0.047619,0.000000,0.000000,0.0,0.047619
18,North Shields_NE29,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
19,Peterlee_SR8,0.0,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.100000,0.000000,0.00,0.000000,0.000000,0.000000,0.1,0.100000
20,STANLEY_DH9,0.0,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.166667,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
21,SUNDERLAND_SR2,0.0,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.200000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
22,SUNDERLAND_SR3,0.0,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.166667,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
23,SUNDERLAND_SR4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
24,SUNDERLAND_SR5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,...,0.00,0.000000,0.166667,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.055556
25,Seaham_SR7,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
26,South Shields+NE33,0.0,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.033333,0.133333,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.033333
27,South Shields_NE34,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
28,Trimdon Station_TS29,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
29,WASHINGTON_NE37,0.0,0.000000,0.000000,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.052632,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
30,WINGATE_TS28,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000
31,Wallsend_NE28,0.0,0.000000,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.181818,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000

In [297]:
import numpy as np

In [328]:
#Finding out top 5 common venues by postcodarea
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    return row_categories_sorted.index.values[0:num_top_venues]

num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns based on number of top venues
columns = ['Name']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Name'] = df_groupedvenue['Name']

for ind in np.arange(df_groupedvenue.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(df_groupedvenue.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,BLYTH_NE24,Supermarket,Warehouse Store,Soccer Stadium,Grocery Store,Italian Restaurant
1,Blaydon-on-Tyne_NE21,Grocery Store,Coffee Shop,Supermarket,Business Service,Shopping Mall
2,Boldon Colliery_NE35,American Restaurant,Soccer Field,Gastropub,Light Rail Station,Movie Theater
3,CHESTER LE STREET _DH2,Construction & Landscaping,Mobile Phone Shop,Indian Restaurant,Doctor's Office,Home Service
4,DURHAM_DH6,Campground,Warehouse Store,Dance Studio,Doctor's Office,Dog Run

In [329]:
neighborhoods_venues_sorted

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,BLYTH_NE24,Supermarket,Warehouse Store,Soccer Stadium,Grocery Store,Italian Restaurant
1,Blaydon-on-Tyne_NE21,Grocery Store,Coffee Shop,Supermarket,Business Service,Shopping Mall
2,Boldon Colliery_NE35,American Restaurant,Soccer Field,Gastropub,Light Rail Station,Movie Theater
3,CHESTER LE STREET _DH2,Construction & Landscaping,Mobile Phone Shop,Indian Restaurant,Doctor's Office,Home Service
4,DURHAM_DH6,Campground,Warehouse Store,Dance Studio,Doctor's Office,Dog Run
5,DURHAM_DH7,Restaurant,Warehouse Store,Convenience Store,Discount Store,Doctor's Office
6,Gateshead_NE10,Supermarket,Gym Pool,Train Station,Gym,Grocery Store
7,Gateshead_NE11,Hotel,Warehouse Store,Coffee Shop,Gym,Go Kart Track
8,Gateshead_NE8,Gym,Art Gallery,Sandwich Place,Supermarket,Warehouse Store
9,Gateshead_NE9,Coffee Shop,Grocery Store,Pub,Indian Restaurant,Pharmacy
10,HOUGHTON LE SPRING_DH4,Bar,Italian Restaurant,Martial Arts Dojo,Soccer Field,Warehouse Store
11,HOUGHTON LE SPRING_DH5,Indian Restaurant,Stadium,Sports Club,Pet Store,Warehouse Store
12,Hebburn_NE31,Soccer Field,Bar,Supermarket,Pub,Italian Restaurant
13,Jarrow_NE32,History Museum,Track,Bar,Light Rail Station,Warehouse Store
14,Newcastle upon Tyne_NE15,Golf Course,Supermarket,Restaurant,Chinese Restaurant,Warehouse Store
15,Newcastle upon Tyne_NE17,Construction & Landscaping,Convenience Store,Pub,Discount Store,Doctor's Office
16,Newcastle upon Tyne_NE4,Grocery Store,Hotel,Indian Restaurant,Shopping Mall,Fried Chicken Joint
17,Newcastle upon Tyne_NE6,Fish & Chips Shop,Discount Store,Supermarket,Climbing Gym,Warehouse Store
18,North Shields_NE29,Furniture / Home Store,Grocery Store,Pharmacy,Chinese Restaurant,Soccer Field
19,Peterlee_SR8,Warehouse Store,Bus Station,Video Game Store,Fast Food Restaurant,Pharmacy
20,STANLEY_DH9,Bus Station,Dog Run,Bakery,Supermarket,Discount Store
21,SUNDERLAND_SR2,Park,Bar,Supermarket,Pub,Italian Restaurant
22,SUNDERLAND_SR3,Convenience Store,Park,Athletics & Sports,Grocery Store,Supermarket
23,SUNDERLAND_SR4,Pizza Place,Sandwich Place,Fried Chicken Joint,Convenience Store,Discount Store
24,SUNDERLAND_SR5,Supermarket,Fast Food Restaurant,Coffee Shop,Warehouse Store,Bowling Alley
25,Seaham_SR7,Gym,Grocery Store,Pub,Outdoors & Recreation,Other Great Outdoors
26,South Shields+NE33,Pub,Supermarket,Italian Restaurant,Coffee Shop,Grocery Store
27,South Shields_NE34,Grocery Store,Indian Restaurant,Italian Restaurant,Pub,Sandwich Place
28,Trimdon Station_TS29,Bus Stop,Gaming Cafe,Dance Studio,Doctor's Office,Dog Run
29,WASHINGTON_NE37,Clothing Store,Grocery Store,Pharmacy,Chinese Restaurant,Music Store
30,WINGATE_TS28,Health & Beauty Service,Gas Station,Doctor's Office,Dog Run,Fast Food Restaurant
31,Wallsend_NE28,Supermarket,Park,Shopping Mall,Convenience Store,Light Rail Station

Clustering Data

In [330]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print ('all loaded')

all loaded

In [331]:
from sklearn.cluster import KMeans
print ('KMeans loaded')

KMeans loaded

In [332]:
neighborhoods_venues_sorted.index

RangeIndex(start=0, stop=32, step=1)

In [333]:
neighborhoods_venues_sorted

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,BLYTH_NE24,Supermarket,Warehouse Store,Soccer Stadium,Grocery Store,Italian Restaurant
1,Blaydon-on-Tyne_NE21,Grocery Store,Coffee Shop,Supermarket,Business Service,Shopping Mall
2,Boldon Colliery_NE35,American Restaurant,Soccer Field,Gastropub,Light Rail Station,Movie Theater
3,CHESTER LE STREET _DH2,Construction & Landscaping,Mobile Phone Shop,Indian Restaurant,Doctor's Office,Home Service
4,DURHAM_DH6,Campground,Warehouse Store,Dance Studio,Doctor's Office,Dog Run
5,DURHAM_DH7,Restaurant,Warehouse Store,Convenience Store,Discount Store,Doctor's Office
6,Gateshead_NE10,Supermarket,Gym Pool,Train Station,Gym,Grocery Store
7,Gateshead_NE11,Hotel,Warehouse Store,Coffee Shop,Gym,Go Kart Track
8,Gateshead_NE8,Gym,Art Gallery,Sandwich Place,Supermarket,Warehouse Store
9,Gateshead_NE9,Coffee Shop,Grocery Store,Pub,Indian Restaurant,Pharmacy
10,HOUGHTON LE SPRING_DH4,Bar,Italian Restaurant,Martial Arts Dojo,Soccer Field,Warehouse Store
11,HOUGHTON LE SPRING_DH5,Indian Restaurant,Stadium,Sports Club,Pet Store,Warehouse Store
12,Hebburn_NE31,Soccer Field,Bar,Supermarket,Pub,Italian Restaurant
13,Jarrow_NE32,History Museum,Track,Bar,Light Rail Station,Warehouse Store
14,Newcastle upon Tyne_NE15,Golf Course,Supermarket,Restaurant,Chinese Restaurant,Warehouse Store
15,Newcastle upon Tyne_NE17,Construction & Landscaping,Convenience Store,Pub,Discount Store,Doctor's Office
16,Newcastle upon Tyne_NE4,Grocery Store,Hotel,Indian Restaurant,Shopping Mall,Fried Chicken Joint
17,Newcastle upon Tyne_NE6,Fish & Chips Shop,Discount Store,Supermarket,Climbing Gym,Warehouse Store
18,North Shields_NE29,Furniture / Home Store,Grocery Store,Pharmacy,Chinese Restaurant,Soccer Field
19,Peterlee_SR8,Warehouse Store,Bus Station,Video Game Store,Fast Food Restaurant,Pharmacy
20,STANLEY_DH9,Bus Station,Dog Run,Bakery,Supermarket,Discount Store
21,SUNDERLAND_SR2,Park,Bar,Supermarket,Pub,Italian Restaurant
22,SUNDERLAND_SR3,Convenience Store,Park,Athletics & Sports,Grocery Store,Supermarket
23,SUNDERLAND_SR4,Pizza Place,Sandwich Place,Fried Chicken Joint,Convenience Store,Discount Store
24,SUNDERLAND_SR5,Supermarket,Fast Food Restaurant,Coffee Shop,Warehouse Store,Bowling Alley
25,Seaham_SR7,Gym,Grocery Store,Pub,Outdoors & Recreation,Other Great Outdoors
26,South Shields+NE33,Pub,Supermarket,Italian Restaurant,Coffee Shop,Grocery Store
27,South Shields_NE34,Grocery Store,Indian Restaurant,Italian Restaurant,Pub,Sandwich Place
28,Trimdon Station_TS29,Bus Stop,Gaming Cafe,Dance Studio,Doctor's Office,Dog Run
29,WASHINGTON_NE37,Clothing Store,Grocery Store,Pharmacy,Chinese Restaurant,Music Store
30,WINGATE_TS28,Health & Beauty Service,Gas Station,Doctor's Office,Dog Run,Fast Food Restaurant
31,Wallsend_NE28,Supermarket,Park,Shopping Mall,Convenience Store,Light Rail Station

In [337]:
neighborhoods_venues_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   32 non-null     object
 1   1st Most Common Venue  32 non-null     object
 2   2nd Most Common Venue  32 non-null     object
 3   3rd Most Common Venue  32 non-null     object
 4   4th Most Common Venue  32 non-null     object
 5   5th Most Common Venue  32 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB

In [336]:
neighborhoods_venues_sorted.describe()

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
count,32,32,32,32,32,32
unique,32,25,23,22,20,20
top,SUNDERLAND_SR5,Supermarket,Warehouse Store,Supermarket,Pub,Warehouse Store
freq,1,4,4,4,3,6

In [339]:
neighborhoods_venues_sorted.isna().sum()

Name                     0
1st Most Common Venue    0
2nd Most Common Venue    0
3rd Most Common Venue    0
4th Most Common Venue    0
5th Most Common Venue    0
dtype: int64

In [341]:
neighborhoods_venues_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   32 non-null     object
 1   1st Most Common Venue  32 non-null     object
 2   2nd Most Common Venue  32 non-null     object
 3   3rd Most Common Venue  32 non-null     object
 4   4th Most Common Venue  32 non-null     object
 5   5th Most Common Venue  32 non-null     object
dtypes: object(6)
memory usage: 1.6+ KB

In [349]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
print('ready')

ready

In [353]:
df=neighborhoods_venues_sorted.apply(LabelEncoder().fit_transform)

In [354]:
# set number of clusters
kclusters = 5

torontodata_denc_grouped_clustering = df.drop('Name', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(torontodata_denc_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([2, 3, 1, 1, 1, 2, 4, 2, 4, 3])

In [357]:
# add labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [358]:
neighborhoods_venues_sorted

,Cluster Labels,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue
0,2,BLYTH_NE24,Supermarket,Warehouse Store,Soccer Stadium,Grocery Store,Italian Restaurant
1,3,Blaydon-on-Tyne_NE21,Grocery Store,Coffee Shop,Supermarket,Business Service,Shopping Mall
2,1,Boldon Colliery_NE35,American Restaurant,Soccer Field,Gastropub,Light Rail Station,Movie Theater
3,1,CHESTER LE STREET _DH2,Construction & Landscaping,Mobile Phone Shop,Indian Restaurant,Doctor's Office,Home Service
4,1,DURHAM_DH6,Campground,Warehouse Store,Dance Studio,Doctor's Office,Dog Run
5,2,DURHAM_DH7,Restaurant,Warehouse Store,Convenience Store,Discount Store,Doctor's Office
6,4,Gateshead_NE10,Supermarket,Gym Pool,Train Station,Gym,Grocery Store
7,2,Gateshead_NE11,Hotel,Warehouse Store,Coffee Shop,Gym,Go Kart Track
8,4,Gateshead_NE8,Gym,Art Gallery,Sandwich Place,Supermarket,Warehouse Store
9,3,Gateshead_NE9,Coffee Shop,Grocery Store,Pub,Indian Restaurant,Pharmacy
10,0,HOUGHTON LE SPRING_DH4,Bar,Italian Restaurant,Martial Arts Dojo,Soccer Field,Warehouse Store
11,0,HOUGHTON LE SPRING_DH5,Indian Restaurant,Stadium,Sports Club,Pet Store,Warehouse Store
12,4,Hebburn_NE31,Soccer Field,Bar,Supermarket,Pub,Italian Restaurant
13,0,Jarrow_NE32,History Museum,Track,Bar,Light Rail Station,Warehouse Store
14,3,Newcastle upon Tyne_NE15,Golf Course,Supermarket,Restaurant,Chinese Restaurant,Warehouse Store
15,1,Newcastle upon Tyne_NE17,Construction & Landscaping,Convenience Store,Pub,Discount Store,Doctor's Office
16,1,Newcastle upon Tyne_NE4,Grocery Store,Hotel,Indian Restaurant,Shopping Mall,Fried Chicken Joint
17,3,Newcastle upon Tyne_NE6,Fish & Chips Shop,Discount Store,Supermarket,Climbing Gym,Warehouse Store
18,3,North Shields_NE29,Furniture / Home Store,Grocery Store,Pharmacy,Chinese Restaurant,Soccer Field
19,4,Peterlee_SR8,Warehouse Store,Bus Station,Video Game Store,Fast Food Restaurant,Pharmacy
20,1,STANLEY_DH9,Bus Station,Dog Run,Bakery,Supermarket,Discount Store
21,4,SUNDERLAND_SR2,Park,Bar,Supermarket,Pub,Italian Restaurant
22,0,SUNDERLAND_SR3,Convenience Store,Park,Athletics & Sports,Grocery Store,Supermarket
23,2,SUNDERLAND_SR4,Pizza Place,Sandwich Place,Fried Chicken Joint,Convenience Store,Discount Store
24,4,SUNDERLAND_SR5,Supermarket,Fast Food Restaurant,Coffee Shop,Warehouse Store,Bowling Alley
25,4,Seaham_SR7,Gym,Grocery Store,Pub,Outdoors & Recreation,Other Great Outdoors
26,2,South Shields+NE33,Pub,Supermarket,Italian Restaurant,Coffee Shop,Grocery Store
27,0,South Shields_NE34,Grocery Store,Indian Restaurant,Italian Restaurant,Pub,Sandwich Place
28,1,Trimdon Station_TS29,Bus Stop,Gaming Cafe,Dance Studio,Doctor's Office,Dog Run
29,3,WASHINGTON_NE37,Clothing Store,Grocery Store,Pharmacy,Chinese Restaurant,Music Store
30,1,WINGATE_TS28,Health & Beauty Service,Gas Station,Doctor's Office,Dog Run,Fast Food Restaurant
31,2,Wallsend_NE28,Supermarket,Park,Shopping Mall,Convenience Store,Light Rail Station

In [365]:
df_names=pd.read_csv("D:\\to use\\coordinates.csv")
print('ready')

ready

In [366]:
df_names

                        Name  Latitude  Longitude
0                 DURHAM_DH7   54.7895   -1.66153
1       Trimdon Station_TS29   54.7112   -1.41995
2     CHESTER LE STREET _DH2   54.8599   -1.59829
3             SUNDERLAND_SR3   54.8779   -1.41645
4   Newcastle upon Tyne_NE17   54.9158   -1.81885
5       Blaydon-on-Tyne_NE21   54.9588   -1.71977
6     HOUGHTON LE SPRING_DH4   54.8529   -1.49028
7         South Shields_NE34   54.9728   -1.42321
8               Hebburn_NE31   54.9717   -1.51259
9             Gateshead_NE10   54.9484   -1.55697
10             Gateshead_NE9   54.9316   -1.58767
11               Jarrow_NE32   54.9697   -1.48439
12  Newcastle upon Tyne_NE15   54.9832   -1.71906
13                Seaham_SR7   54.8309   -1.36058
14                DURHAM_DH6   54.7535   -1.46490
15              WINGATE_TS28   54.7255   -1.37499
16           WASHINGTON_NE37   54.9114   -1.52838
17               STANLEY_DH9   54.8678   -1.71096
18            SUNDERLAND_SR4   54.9016   -1.42472
19            SUNDERLAND_SR5   54.9217   -1.42208
20    HOUGHTON LE SPRING_DH5   54.8246   -1.45587
21      Boldon Colliery_NE35   54.9529   -1.46282
22            SUNDERLAND_SR2   54.8886   -1.37865
23            Gateshead_NE11   54.9401   -1.63176
24        North Shields_NE29   55.0117   -1.46933
25             Wallsend_NE28   55.0007   -1.51887
26                BLYTH_NE24   55.1228   -1.52140
27   Newcastle upon Tyne_NE4   54.9728   -1.64380
28   Newcastle upon Tyne_NE6   54.9772   -1.56735
29              Peterlee_SR8   54.7666   -1.33657
30        South Shields+NE33   54.9920   -1.43125
31             Gateshead_NE8   54.9563   -1.60503

In [368]:
df_cluster = pd.merge(neighborhoods_venues_sorted,df_names,left_on='Name',right_on='Name', how='left')

In [369]:
df_cluster

,Cluster Labels,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,Latitude,Longitude
0,2,BLYTH_NE24,Supermarket,Warehouse Store,Soccer Stadium,Grocery Store,Italian Restaurant,55.1228,-1.52140
1,3,Blaydon-on-Tyne_NE21,Grocery Store,Coffee Shop,Supermarket,Business Service,Shopping Mall,54.9588,-1.71977
2,1,Boldon Colliery_NE35,American Restaurant,Soccer Field,Gastropub,Light Rail Station,Movie Theater,54.9529,-1.46282
3,1,CHESTER LE STREET _DH2,Construction & Landscaping,Mobile Phone Shop,Indian Restaurant,Doctor's Office,Home Service,54.8599,-1.59829
4,1,DURHAM_DH6,Campground,Warehouse Store,Dance Studio,Doctor's Office,Dog Run,54.7535,-1.46490
5,2,DURHAM_DH7,Restaurant,Warehouse Store,Convenience Store,Discount Store,Doctor's Office,54.7895,-1.66153
6,4,Gateshead_NE10,Supermarket,Gym Pool,Train Station,Gym,Grocery Store,54.9484,-1.55697
7,2,Gateshead_NE11,Hotel,Warehouse Store,Coffee Shop,Gym,Go Kart Track,54.9401,-1.63176
8,4,Gateshead_NE8,Gym,Art Gallery,Sandwich Place,Supermarket,Warehouse Store,54.9563,-1.60503
9,3,Gateshead_NE9,Coffee Shop,Grocery Store,Pub,Indian Restaurant,Pharmacy,54.9316,-1.58767
10,0,HOUGHTON LE SPRING_DH4,Bar,Italian Restaurant,Martial Arts Dojo,Soccer Field,Warehouse Store,54.8529,-1.49028
11,0,HOUGHTON LE SPRING_DH5,Indian Restaurant,Stadium,Sports Club,Pet Store,Warehouse Store,54.8246,-1.45587
12,4,Hebburn_NE31,Soccer Field,Bar,Supermarket,Pub,Italian Restaurant,54.9717,-1.51259
13,0,Jarrow_NE32,History Museum,Track,Bar,Light Rail Station,Warehouse Store,54.9697,-1.48439
14,3,Newcastle upon Tyne_NE15,Golf Course,Supermarket,Restaurant,Chinese Restaurant,Warehouse Store,54.9832,-1.71906
15,1,Newcastle upon Tyne_NE17,Construction & Landscaping,Convenience Store,Pub,Discount Store,Doctor's Office,54.9158,-1.81885
16,1,Newcastle upon Tyne_NE4,Grocery Store,Hotel,Indian Restaurant,Shopping Mall,Fried Chicken Joint,54.9728,-1.64380
17,3,Newcastle upon Tyne_NE6,Fish & Chips Shop,Discount Store,Supermarket,Climbing Gym,Warehouse Store,54.9772,-1.56735
18,3,North Shields_NE29,Furniture / Home Store,Grocery Store,Pharmacy,Chinese Restaurant,Soccer Field,55.0117,-1.46933
19,4,Peterlee_SR8,Warehouse Store,Bus Station,Video Game Store,Fast Food Restaurant,Pharmacy,54.7666,-1.33657
20,1,STANLEY_DH9,Bus Station,Dog Run,Bakery,Supermarket,Discount Store,54.8678,-1.71096
21,4,SUNDERLAND_SR2,Park,Bar,Supermarket,Pub,Italian Restaurant,54.8886,-1.37865
22,0,SUNDERLAND_SR3,Convenience Store,Park,Athletics & Sports,Grocery Store,Supermarket,54.8779,-1.41645
23,2,SUNDERLAND_SR4,Pizza Place,Sandwich Place,Fried Chicken Joint,Convenience Store,Discount Store,54.9016,-1.42472
24,4,SUNDERLAND_SR5,Supermarket,Fast Food Restaurant,Coffee Shop,Warehouse Store,Bowling Alley,54.9217,-1.42208
25,4,Seaham_SR7,Gym,Grocery Store,Pub,Outdoors & Recreation,Other Great Outdoors,54.8309,-1.36058
26,2,South Shields+NE33,Pub,Supermarket,Italian Restaurant,Coffee Shop,Grocery Store,54.9920,-1.43125
27,0,South Shields_NE34,Grocery Store,Indian Restaurant,Italian Restaurant,Pub,Sandwich Place,54.9728,-1.42321
28,1,Trimdon Station_TS29,Bus Stop,Gaming Cafe,Dance Studio,Doctor's Office,Dog Run,54.7112,-1.41995
29,3,WASHINGTON_NE37,Clothing Store,Grocery Store,Pharmacy,Chinese Restaurant,Music Store,54.9114,-1.52838
30,1,WINGATE_TS28,Health & Beauty Service,Gas Station,Doctor's Office,Dog Run,Fast Food Restaurant,54.7255,-1.37499
31,2,Wallsend_NE28,Supermarket,Park,Shopping Mall,Convenience Store,Light Rail Station,55.0007,-1.51887

In [370]:
import matplotlib.cm as cm
import matplotlib.colors as colors

In [373]:
# create map
import folium
map_clusters = folium.Map(location=[54.966667, -1.600000], zoom_start=10)

In [374]:
pip install folium

Requirement already satisfied: folium in e:\python\lib\site-packages (0.5.0)
Requirement already satisfied: branca in e:\python\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2 in e:\python\lib\site-packages (from folium) (2.11.1)
Requirement already satisfied: requests in e:\python\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: six in e:\python\lib\site-packages (from folium) (1.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in e:\python\lib\site-packages (from jinja2->folium) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in e:\python\lib\site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in e:\python\lib\site-packages (from requests->folium) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in e:\python\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in e:\python\lib\site-packages (from requests->folium) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [375]:
import folium
print('ready')

ready

In [378]:
map_NE2 = folium.Map(location=[54.966667, -1.600000], zoom_start=10)
map_NE2

In [379]:
# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

In [380]:
# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(
        df_cluster['Latitude'], 
        df_cluster['Longitude'], 
        df_cluster['Name'], 
        df_cluster['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)

In [381]:
map_clusters

Examine CLusters

In [386]:
#Cluster 0, which includes 5 postcodes and labeled 'red' on map
df_cluster.loc[df_cluster['Cluster Labels'] == 0, df_cluster.columns[[1] + list(range(2, df_cluster.shape[1]))]]

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,Latitude,Longitude
10,HOUGHTON LE SPRING_DH4,Bar,Italian Restaurant,Martial Arts Dojo,Soccer Field,Warehouse Store,54.8529,-1.49028
11,HOUGHTON LE SPRING_DH5,Indian Restaurant,Stadium,Sports Club,Pet Store,Warehouse Store,54.8246,-1.45587
13,Jarrow_NE32,History Museum,Track,Bar,Light Rail Station,Warehouse Store,54.9697,-1.48439
22,SUNDERLAND_SR3,Convenience Store,Park,Athletics & Sports,Grocery Store,Supermarket,54.8779,-1.41645
27,South Shields_NE34,Grocery Store,Indian Restaurant,Italian Restaurant,Pub,Sandwich Place,54.9728,-1.42321

In [388]:
#Cluster 1, which includes 8 postcodes and labeled 'purplr' on map
df_cluster.loc[df_cluster['Cluster Labels'] == 1, df_cluster.columns[[1] + list(range(2, df_cluster.shape[1]))]]

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,Latitude,Longitude
2,Boldon Colliery_NE35,American Restaurant,Soccer Field,Gastropub,Light Rail Station,Movie Theater,54.9529,-1.46282
3,CHESTER LE STREET _DH2,Construction & Landscaping,Mobile Phone Shop,Indian Restaurant,Doctor's Office,Home Service,54.8599,-1.59829
4,DURHAM_DH6,Campground,Warehouse Store,Dance Studio,Doctor's Office,Dog Run,54.7535,-1.46490
15,Newcastle upon Tyne_NE17,Construction & Landscaping,Convenience Store,Pub,Discount Store,Doctor's Office,54.9158,-1.81885
16,Newcastle upon Tyne_NE4,Grocery Store,Hotel,Indian Restaurant,Shopping Mall,Fried Chicken Joint,54.9728,-1.64380
20,STANLEY_DH9,Bus Station,Dog Run,Bakery,Supermarket,Discount Store,54.8678,-1.71096
28,Trimdon Station_TS29,Bus Stop,Gaming Cafe,Dance Studio,Doctor's Office,Dog Run,54.7112,-1.41995
30,WINGATE_TS28,Health & Beauty Service,Gas Station,Doctor's Office,Dog Run,Fast Food Restaurant,54.7255,-1.37499

In [389]:
#Cluster 2, which includes 6 postcodes and labeled 'blue' on map
df_cluster.loc[df_cluster['Cluster Labels'] == 2, df_cluster.columns[[1] + list(range(2, df_cluster.shape[1]))]]

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,Latitude,Longitude
0,BLYTH_NE24,Supermarket,Warehouse Store,Soccer Stadium,Grocery Store,Italian Restaurant,55.1228,-1.52140
5,DURHAM_DH7,Restaurant,Warehouse Store,Convenience Store,Discount Store,Doctor's Office,54.7895,-1.66153
7,Gateshead_NE11,Hotel,Warehouse Store,Coffee Shop,Gym,Go Kart Track,54.9401,-1.63176
23,SUNDERLAND_SR4,Pizza Place,Sandwich Place,Fried Chicken Joint,Convenience Store,Discount Store,54.9016,-1.42472
26,South Shields+NE33,Pub,Supermarket,Italian Restaurant,Coffee Shop,Grocery Store,54.9920,-1.43125
31,Wallsend_NE28,Supermarket,Park,Shopping Mall,Convenience Store,Light Rail Station,55.0007,-1.51887

In [390]:
#Cluster 3, which includes 6 postcodes and labeled 'green' on map
df_cluster.loc[df_cluster['Cluster Labels'] == 3, df_cluster.columns[[1] + list(range(2, df_cluster.shape[1]))]]

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,Latitude,Longitude
1,Blaydon-on-Tyne_NE21,Grocery Store,Coffee Shop,Supermarket,Business Service,Shopping Mall,54.9588,-1.71977
9,Gateshead_NE9,Coffee Shop,Grocery Store,Pub,Indian Restaurant,Pharmacy,54.9316,-1.58767
14,Newcastle upon Tyne_NE15,Golf Course,Supermarket,Restaurant,Chinese Restaurant,Warehouse Store,54.9832,-1.71906
17,Newcastle upon Tyne_NE6,Fish & Chips Shop,Discount Store,Supermarket,Climbing Gym,Warehouse Store,54.9772,-1.56735
18,North Shields_NE29,Furniture / Home Store,Grocery Store,Pharmacy,Chinese Restaurant,Soccer Field,55.0117,-1.46933
29,WASHINGTON_NE37,Clothing Store,Grocery Store,Pharmacy,Chinese Restaurant,Music Store,54.9114,-1.52838

In [391]:
#Cluster 4, which includes 7 postcodes and labeled 'orange' on map
df_cluster.loc[df_cluster['Cluster Labels'] == 4, df_cluster.columns[[1] + list(range(2, df_cluster.shape[1]))]]

,Name,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,Latitude,Longitude
6,Gateshead_NE10,Supermarket,Gym Pool,Train Station,Gym,Grocery Store,54.9484,-1.55697
8,Gateshead_NE8,Gym,Art Gallery,Sandwich Place,Supermarket,Warehouse Store,54.9563,-1.60503
12,Hebburn_NE31,Soccer Field,Bar,Supermarket,Pub,Italian Restaurant,54.9717,-1.51259
19,Peterlee_SR8,Warehouse Store,Bus Station,Video Game Store,Fast Food Restaurant,Pharmacy,54.7666,-1.33657
21,SUNDERLAND_SR2,Park,Bar,Supermarket,Pub,Italian Restaurant,54.8886,-1.37865
24,SUNDERLAND_SR5,Supermarket,Fast Food Restaurant,Coffee Shop,Warehouse Store,Bowling Alley,54.9217,-1.42208
25,Seaham_SR7,Gym,Grocery Store,Pub,Outdoors & Recreation,Other Great Outdoors,54.8309,-1.36058

Based on data above, we can assign following names for clusters 
Cluster 0 - 
Cluster 1,4 - Store areas with big mall and supermarkets
Cluster 2 - 
Cluster 3 -